<% content_for :modal_header do %>
  <h5 class="modal-title"><%= I18n.t('spree.dash.taxonomies.categories') %></h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
<% end %>

<% content_for :modal_body do %>
  <div class="container">
    <%= form_with model: [:admin, @object], method: :post, data: { turbo_frame: '_top', action: "turbo:submit-end->modal#submitEnd" }, id: "mainForm" do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>
<% end %>

<% content_for :modal_footer do %>
  <%= remote_form_submit_button(@object) %>
<% end %>

<%= render partial: 'spree/admin/shared/modal', locals: { modal_dialog_settings: 'modal-dialog-scrollable modal-dialog modal-dialog-centered modal-lg' } %>
