<% content_for :page_title do %>
  <%= I18n.t('spree.admin.navigation.menus') %>
<% end %>

<% content_for :page_actions do %>
  <%= link_to_with_icon I18n.t('spree.admin.navigation.add_new_menu'), new_object_url, { class: "btn-primary btn", icon: 'plus-square.svg', id: 'new_menu' } %>
<% end if can?(:create, Spree::Menu) %>

<% content_for :table_filter do %>
  <div data-hook="admin_menus_sidebar">
    <%= search_form_for [:admin, @search] do |f| %>
      <%- locals = {f: f} %>
      <div class="row">

        <div class="col-12 col-lg-4">
          <div class="form-group">
            <%= f.label :name_cont, I18n.t('spree.admin.name') %>
            <%= f.text_field :name_cont, size: 15, class: "form-control js-quick-search-target js-filterable" %>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="form-group">
            <%= label_tag :q_location_eq, Spree.t(:location) %><%= f.select :location_eq, spree_humanize_dropdown_values('Spree::Menu', { const: 'MENU_LOCATIONS', paramterize_values: true }), { include_blank: true }, class: 'js-filterable', data: {controller: 'ts--select'} %>
          </div>
        </div>

        <div class="col-12 col-lg-4">
         <div class="form-group">
           <%= label_tag :q_locale_eq, Spree.t(:language) %>
           <%= f.select :locale_eq, all_locales_options, { include_blank: true }, class: 'js-filterable', data: {controller: 'ts--select'} %>
         </div>
        </div>
      </div>

      <div data-hook="admin_menus_index_search_buttons" class="form-actions">
        <%= button Spree.t(:search), 'search.svg' %>
      </div>
    <% end %>
  </div>
<% end %>

<% content_for :index_table do %>
  <% if @menus.any? %>
    <g-responsive>
      <g-table id="menusTable">

        <g-thead>
          <g-tr style="grid-template-columns: 1fr 1fr 1fr 2fr;">
            <g-th><%= Spree.t(:name) %></g-th>
            <g-th><%= I18n.t('spree.admin.location') %></g-th>
            <g-th><%= I18n.t('spree.admin.language') %></g-th>
            <g-th><%= I18n.t('spree.admin.default') %></g-th>
          </g-tr>
        </g-thead>

        <g-tbody>
          <% @menus.each do |menu| %>
            <g-tr style="grid-template-columns: 1fr 1fr 1fr 1fr 1fr;"
                  data-stream-exit-class="animate__fadeOut">
              <g-td>
                <%= menu.name %>
              </g-td>
              <g-td>
                <%= menu.location.titleize %>
              </g-td>
              <g-td>
                <%= locale_full_name(menu.locale) %>
              </g-td>
              <g-td>
                <%= active_badge(default_menu_for_store?(menu)) %>
              </g-td>
              <g-td class="justify-content-end">
                 <div>
                 <%= link_to_edit(menu, no_text: true) %>
                 <%= link_to_delete(menu) if can?(:destroy, menu) %>
                </div>
              </g-td>
            </g-tr>
          <% end %>
        </g-tbody>

      </g-table>
    </g-responsive>
  <% else %>
    <div class="text-center no-objects-found m-5">
      <%= I18n.t('spree.admin.navigation.you_have_no_menus') %>
    </div>
  <% end %>
<% end %>

<%#-------------------------------------------------%>
<%# Render the index_table partial passing a        %>
<%# search_field_value and search_field_placeholder %>
<%# text if you want to add a search bar            %>
<%#-------------------------------------------------%>
<%= render partial: "spree/admin/shared/index_table",
           locals: { search_record: :name_i_cont,
                     search_placeholder: I18n.t('spree.admin.cms.search_by_menu_name') } %>
