<sa-card class="dashed-card sub-card" id="<%= dom_id(promotion_rule) %>">
  <% type_name = promotion_rule.class.name.demodulize.underscore %>
  <sa-header>
    <div class="flex-fill">
      <h5>
        <%= I18n.t("spree.admin.promotion_rule_types.#{type_name}.name") %>
      </h5>
      <small class="text-muted"><%= I18n.t("spree.admin.promotion_rule_types.#{type_name}.description") %></small>
    </div>
    <div>
      <%= link_to_with_icon nil, spree.admin_promotion_promotion_rule_path(@promotion, promotion_rule), data: {turbo_method: :delete}, class: 'btn btn-outline-secondary btn-sm me-0', icon: 'x-lg.svg', no_text: true %>
    </div>
  </sa-header>
  <% param_prefix = "promotion[promotion_rules_attributes][#{promotion_rule.id}]" %>
  <%= hidden_field_tag "#{param_prefix}[id]", promotion_rule.id %>

  <%= render partial: "spree/admin/promotions/rules/#{type_name}", locals: { promotion_rule: promotion_rule, param_prefix: param_prefix } %>
</sa-card>
