<%= turbo_frame_tag "#{plural_resource_name(@collection).downcase}-page-#{@pagy.page}" do %>
  <% @promotions.each do |promotion| %>
    <g-tr id="<%= dom_id(promotion) %>" data-stream-exit-class="animate__fadeOut">
      <%= link_to promotion.name, spree.edit_admin_promotion_path(promotion), data: {turbo_frame: :_top} %>
      <g-td><%= promotion.code %></g-td>
      <g-td><%= promotion.description %></g-td>
      <g-td><%= promotion.usage_limit.nil? ? "∞" : promotion.usage_limit %></g-td>
      <g-td><%= Spree.t(:current_promotion_usage, count: promotion.credits_count) %></g-td>
      <g-td><%= promotion.expires_at.to_date.to_s(:short_date) if promotion.expires_at %></g-td>
      <g-td class="justify-content-end">
        <div>
         <%= link_to_edit(promotion) if can?(:edit, promotion) %>
         <%= link_to_clone(promotion) if can?(:clone, promotion) %>
         <%= link_to_delete(promotion) if can?(:delete, promotion) %>
        </div>
      </g-td>
    </g-tr>
  <% end %>

  <% unless @pagy.nil? %>
    <%= render "spree/admin/shared/next_page" %>
  <% end %>
<% end %>
