<%= content_for :offcanvas_title do %>
  <%= I18n.t('spree.admin.more_filters') %>
<% end %>

<%= content_for :offcanvas_content do %>
  <%= search_form_for [:admin, @search], url: spree.admin_promotions_path, id: "moreFilterForm", data: {controller: "form--autosave", turbo_frame: :index_table, form__reset_target: "resettable"} do |f| %>

  <%= f.field_container :name_cont do %>
    <%= f.text_field :name_cont, class: "form-control", placeholder: I18n.t('spree.admin.promotions.name'), data: { action: 'form--autosave#save' } %>
    <%= f.label :name_cont, I18n.t('spree.admin.promotions.name') %>
  <% end %>

  <%= f.field_container :code_i_cont do %>
    <%= f.text_field :code_i_cont, class: "form-control", placeholder: I18n.t('spree.admin.promotions.code'), data: { action: 'form--autosave#save' } %>
    <%= f.label :code_i_cont, I18n.t('spree.admin.promotions.code') %>
  <% end %>

  <%= f.field_container :path_i_cont do %>
    <%= f.text_field :path_i_cont, class: "form-control", placeholder: I18n.t('spree.admin.promotions.path'), data: { action: 'form--autosave#save' } %>
    <%= f.label :path_i_cont, I18n.t('spree.admin.promotions.path') %>
  <% end %>

  <%= f.field_container :promotion_category_id_eq do %>
    <%= f.collection_select(:promotion_category_id_eq, @promotion_categories, :id, :name, { include_blank: I18n.t('spree.admin.match_choices.all') }, { disabled: @promotion_categories.empty?, class: 'form-select', data: {controller: 'ts--select'} } ) %>
    <%= f.label :promotion_category_id_eq, I18n.t('spree.admin.promotions.category') %>
  <% end %>

  <%= f.submit I18n.t('spree.admin.actions.filter'), data: {form__autosave_target: "submitButton"} %>
  <% end %>

  <%= content_for :offcanvas_footer do %>
    <div class="flex-fill">
      <%= link_to I18n.t('spree.admin.actions.clear_filters'), spree.admin_users_path, class: "btn btn-outline-secondary", data: {turbo_frame: :index_table, action: "form--reset#clearForm"} %>
    </div>
    <div data-hook="admin_products_index_search_buttons" class="form-actions">
      <button type="button" class="btn-primary btn" data-bs-dismiss="offcanvas" aria-label="Close"><%= I18n.t('spree.admin.actions.done') %></button>
    </div>
  <% end %>
<% end %>
<%= render partial: "spree/admin/shared/offcanvas", locals: {settings: 'offcanvas-end'} %>
