<div class="row">
  <div class="col-12 col-lg-6" data-hook="admin_zone_form_fields">
    <%= form_with model: [:admin, @zone], data: {controller: "form-state"} do |zone_form| %>
      <div class="card">
        <div class="card-header d-flex">
          <div class="flex-fill">
            <h5 class="card-title"><%= Spree.t(:general_settings) %></h5>
          </div>
          <div>
            <%= render partial: 'spree/admin/shared/submit_button' %>
          </div>
        </div>

        <div class="card-body">
          <%= zone_form.field_container :name do %>
            <%= zone_form.text_field :name, class: 'form-control', placeholder: raw(Spree.t(:name) + required_span_tag), required: true, data: {form_state_target: "watch"} %>
            <%= zone_form.label :name, raw(Spree.t(:name) + required_span_tag) %>
          <% end %>

          <%= zone_form.field_container :description do %>
            <%= zone_form.text_field :description, class: 'form-control', placeholder: Spree.t(:description), data: {form_state_target: "watch"} %>
            <%= zone_form.label :description, Spree.t(:description) %>
          <% end %>

          <%= zone_form.checkbox_container :default_tax, class: ['form-check'] do %>
            <%= zone_form.check_box :default_tax, class: 'form-check-input', data: {form_state_target: "watch"} %>
            <%= zone_form.label :default_tax, Spree.t(:default_tax_zone), class: 'form-check-label' %>
          <% end %>

          <div data-hook="type" class="form-group mt-4">
            <h6>
              <%= Spree.t(:type) %>
            </h6>
            <%= zone_form.checkbox_container :country_based, class: ['form-check'] do %>
              <%= zone_form.radio_button('kind', 'country', { class: 'form-check-input' ,id: 'country_based', data: {form_state_target: "watch"} }) %>
              <%= zone_form.label :country_based, Spree.t(:country_based), for: 'country_based', class: 'form-check-label' %>
            <% end %>

            <%= zone_form.checkbox_container :state_based, class: ['form-check'] do %>
              <%= zone_form.radio_button('kind', 'state', { class: 'form-check-input', id: 'state_based', data: {form_state_target: "watch"} }) %>
              <%= zone_form.label :state_based, Spree.t(:state_based), for: 'state_based', class: 'form-check-label' %>
            <% end %>
          </div>
        </div>
        <div class="card-footer text-end">
          <a data-bs-toggle="collapse" href="#menuItemSettingsInformation" role="button" aria-expanded="false" aria-controls="menuItemSettingsInformation" class="align-self-center">
              <%= inline_svg_tag "info-circle.svg", size: '20px*20px', class: "ms-1" %>
          </a>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-12 col-lg-6">
    <%= form_with model: [:admin, @zone], data: {controller: "form-state"} do |zone_form| %>
      <% if @zone.state? %>
        <%= render partial: 'state_members', locals: { zone_form: zone_form } %>
      <% elsif @zone.country? %>
        <%= render partial: 'country_members', locals: { zone_form: zone_form } %>
      <% end %>
    <% end %>
  </div>
</div>
