<div class="card">
  <div class="card-header d-flex">
    <div class="flex-fill">
      <h5 class="card-title"><%= I18n.t('spree.dash.shipments') %></h5>
    </div>
    <div>
      <h5 class="card-title">
        <% if @order.shipment_state %>
          <span class="badge bg-<%= @order.shipment_state %>"><%= I18n.t("spree.dash.shipment_states.#{@order.shipment_state}") %></span>
        <% end %>
      </h5>
    </div>
  </div>

  <div class="card-body">
    <% unless @order.shipped? %>
      <%= form_with model: @order.shipments, url: spree.admin_shipments_path, method: :post, class: 'input-group' do |f| %>
        <%= f.hidden_field :order_id, value: @order.id %>
        <%= f.field_container :stock_location_id, class: ['col'] do %>
          <%= select(:shipment, :stock_location_id, Spree::StockLocation.all.collect {|s| [ s.name, s.id ] }, { include_blank: false }, class: 'form-select rounded-start rounded-0') %>
          <%= f.label :shipping_location %>
        <% end %>

        <%= f.field_container :stock_location_id, class: ['col-auto'] do %>
          <%= f.submit I18n.t('spree.dash.order.add'), class: 'btn btn-outline-secondary w-100 h-100 rounded-end rounded-0' %>
        <% end %>
      <% end %>
      <hr>
    <% end %>

    <% if @order.shipments.any? %>

      <% @order.shipments.order(:id).each do |shipment| %>
        <div <%= dom_id(shipment) %> data-hook="admin-shipment-form" class="card">
          <div class="card-header d-flex" data-hook="stock-location">
            <div class="flex-fill">
              <h6 class="card-title">
                 <%= shipment.number %>
              </h6>
              <h6 class="card-title text-muted">
               <span class="text-capitalize"><%= shipment.state %></span> <%= I18n.t('spree.dash.order.from') %>: <%= link_to shipment.stock_location.name, spree.edit_admin_stock_location_url(shipment.stock_location) %>
              </h6>
            </div>

            <% if shipment.manifest.empty? and can?(:update, shipment) %>
              <div>
                <%= link_to_delete(shipment, { url: spree.admin_shipment_path(shipment.id) }) %>
              </div>
            <% end %>

            <% if shipment.ready? and can? :update, shipment %>
              <div>
                <%= link_to I18n.t('spree.dash.order.mark_as_shipped'), spree.ship_admin_shipment_path(shipment.id), class: 'btn btn-light btn-sm', data: { turbo_method: :patch } , title: I18n.t('spree.dash.order.mark_as_shipped') %>
              </div>
            <% end %>
          </div>

          <div class="card-body">
            <% unless shipment.ready? || shipment.shipped? and can?(:update, shipment) %>
              <%= form_with model: shipment, url: spree.add_item_admin_shipment_path(shipment.id), method: :patch, class: 'input-group' do |f| %>
                  <div class="form-group form-floating">
                    <%= f.number_field :quantity, class: 'form-control rounded-start rounded-0',
                                                  placeholder: I18n.t('spree.dash.quantity'),
                                                  required: true,

                                                  data: { controller: 'input-formatting',
                                                          input_formatting_options_value: { numericOnly: true,
                                                                                            blocks: [4] } } %>
                    <%= f.label :quantity %>
                  </div>

                  <div class="form-group form-floating" style="width: 60%">
                    <%= f.select :variant_id, [], {}, class: 'form-select rounded-0', required: true,
                                                      placeholder: I18n.t('spree.dash.order.search_for_a_product_or_variant'),
                                                      data: { action: 'change->form-validation#validate',
                                                      controller: 'ts--search-variant',
                                                      ts__search_variant_debug_value: true,
                                                      ts__search_variant_uri_value: '/api/v2/platform/variants',
                                                      ts__search_variant_fields_value: ['name', 'sku'],
                                                      ts__search_variant_ransack_value: ['search_by_product_name_or_sku_returning_eligable_variants_only'],
                                                      ts__search_variant_custom_params_value: [ ['[image_transformation]size', '100x100'] ],
                                                      ts__search_variant_include_value: 'images,stock_items.stock_location' } %>

                    <%= label_tag :variant_id, I18n.t('spree.dash.order.products'), class: 'form-label' %>
                  </div>

                  <div class="form-group">
                    <%= f.submit I18n.t('spree.dash.order.add'), class: 'btn btn-outline-secondary rounded-0 rounded-end w-100 h-100', data: { form_validation_target: "submitBtn" } %>
                  </div>
              <% end %>
            <% end %>

            <% unless shipment.manifest.empty? %>
              <hr>

              <div class="table-responsive">
                <table class="table stock-contents" data-hook="stock-contents">
                  <thead class="text-muted">
                    <tr>
                      <th colspan="2"><%= Spree.t(:item) %></th>
                      <th class="text-center"><%= Spree.t(:quantity) %></th>
                      <th class="text-center"><%= Spree.t(:availability) %></th>
                      <th class="text-center"><%= Spree.t(:total) %></th>
                      <th class="orders-actions actions text-center" data-hook="admin_order_form_line_items_header_actions"></th>
                    </tr>
                  </thead>

                  <tbody>
                    <%= render 'spree/admin/orders/shipments/manifest', shipment: shipment %>
                  </tbody>
                </table>
              </div>

              <hr>

              <%= field_container :selected_shipping_rate_id, nil do %>
                <%= select_tag :selected_shipping_rate_id, options_for_select(shipment.shipping_rates.map {|sr| ["#{sr.name} #{sr.display_price}", sr.id] }, shipment.selected_shipping_rate_id), { disabled: (shipment.shipped? or cannot? :update, shipment), class: 'form-select'} %>
                <%= label_tag 'selected_shipping_rate_id', Spree.t(:shipping_method) %>
              <% end %>

              <%= turbo_frame_tag(shipment) do %>
                <% if shipment.tracking.present? %>
                  <div class="row">
                    <div class="col">
                      <%= field_container :tracking, nil do %>
                        <%= text_field_tag :tracking, shipment.tracking, class: "form-control", placeholder: I18n.t('spree.dash.order.tracking_number'), readonly: true, autocomplete: false %>
                      <% end %>
                    </div>
                    <div class="col-auto">
                      <%= link_to_edit(shipment, { url: spree.edit_tracking_number_admin_shipment_path(shipment.id), class: 'btn btn-light' }) %>
                    </div>
                  </div>
                <% else %>
                  <%= form_with model: shipment, url: spree.admin_shipment_path(shipment.id), method: :patch, data: { turbo_frame: shipment } do |f| %>
                    <div class="row">
                      <div class="col">
                        <%= f.field_container :tracking do %>
                          <%= f.text_field :tracking, class: "form-control", placeholder: I18n.t('spree.dash.order.tracking_number') %>
                        <% end %>
                      </div>
                      <div class="col-auto">
                        <%= f.button :submit, class: "btn btn-success" do %>
                          <%= inline_svg_tag "check-lg.svg", size: '16px * 16px' %>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>

    <% else %>
      <div class="alert alert-warning mb-0">
        <%= I18n.t('spree.dash.order.add_a_shipment_to_this_order_to_begin_adding_items').html_safe %>
      </div>
    <% end %>

    <% if @order.shipped? and can?(:resend, @order) %>
      <%= link_to_with_icon I18n.t('spree.dash.order.resend_shipping_confirmation_email'), resend_admin_order_url(@order), method: :post, icon: 'envelope.svg', class: 'btn btn-light' %>
    <% end %>

    <% if @order.special_instructions.present? %>
      <div class='special_instructions'>
        <strong><%= Spree.t(:special_instructions) %>:&nbsp;</strong><%= @order.special_instructions %>
      </div>
    <% end %>
  </div>
</div>
