<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head data-hook="admin_inside_head">
    <%= render partial: 'spree/admin/shared/head' %>

    <% if Rails.env.test? %>
     <style>
        .modal.fade, .fade {
          -webkit-transition: opacity 0.01s;
          -moz-transition: opacity 0.01s;
          -ms-transition: opacity 0.01s;
          -o-transition: opacity 0.01s;
          transition: opacity 0.01s;
        }
        .ts-hidden-accessible {
          padding: 1px solid gray;
          clip-path: none !important;
          position: relative !important;
          width: 100% !important;
          padding: 1rem;
        }
     </style>
    <% end %>
  </head>

  <body class="admin" id="spreeAdmin">
    <%= turbo_frame_tag :inner_main_content, target: :_top, data: {turbo_action: "advance"} do %>
      <%#-------------------------------------------------%>
      <%# Main content                                    %>
      <%#-------------------------------------------------%>
      <container-fluid>
        <row>
          <%#-------------------------------------------------%>
          <%# Menu                                            %>
          <%#-------------------------------------------------%>
          <%= render partial: 'spree/admin/shared/menu' %>

          <main>
            <%#-------------------------------------------------%>
            <%# Content Header                                  %>
            <%#-------------------------------------------------%>
            <content-header>
              <%= render partial: 'spree/admin/shared/content_header' %>
            </content-header>

            <%#-------------------------------------------------%>
            <%# Main Content Area                               %>
            <%#-------------------------------------------------%>
            <content-body>
              <%= yield %>
            </content-body>
          </main>
        </row>
      </container-fluid>

      <%#-------------------------------------------------%>
      <%# Alerts                                          %>
      <%#-------------------------------------------------%>
      <%= flash_alert(flash, :inner_main_content) %>
      <%= flash_alert(flash, :modal) %>

      <%#-------------------------------------------------%>
      <%# Mobile Buttons                                  %>
      <%#-------------------------------------------------%>
      <%= render partial: 'spree/admin/shared/mobile_only_controles' %>

      <%#-------------------------------------------------%>
      <%# Custom Confirm Dialog                           %>
      <%#-------------------------------------------------%>
      <%= render partial: 'spree/admin/shared/custom_dialog' %>

      <%#-------------------------------------------------%>
      <%# Insert Footer JavaScript                      %>
      <%#-------------------------------------------------%>
      <div data-hook="admin_footer_scripts"></div>
    <% end %>

    <%= flash_alert(flash) %>
    <%= flash_alert(flash, :_top) %>

    <%#-------------------------------------------------%>
    <%# Universal Modal & OffCanvas                     %>
    <%#-------------------------------------------------%>
    <%= turbo_frame_tag :modal %>
    <%= turbo_frame_tag :offcanvas %>
  </body>
</html>
