<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head data-hook="admin_inside_head">
    <%= render partial: 'spree/admin/shared/head' %>
  </head>

  <body class="admin">
    <%#-------------------------------------------------%>
    <%# Main content                                    %>
    <%#-------------------------------------------------%>
    <div id="mainWrapper" class="container-fluid">
      <div class="row">

        <%#-------------------------------------------------%>
        <%# Menu                                            %>
        <%#-------------------------------------------------%>
        <%= render partial: 'spree/admin/shared/menu' %>

        <%#-------------------------------------------------%>
        <%# Main                                            %>
        <%#-------------------------------------------------%>
        <main class="col-12 col-lg-9 col-xl-10 offset-lg-3 offset-xl-2 main <%= "tabsAndActionsShim" if content_for?(:page_tabs) %>" id="main-part">
          <div class="row">
            <div class="p-0">
              <%#-------------------------------------------------%>
              <%# Content Header (page title/actions)             %>
              <%#-------------------------------------------------%>
              <%= render partial: 'spree/admin/shared/content_header' %>

              <%#-------------------------------------------------%>
              <%# Main content                                    %>
              <%#-------------------------------------------------%>
              <div id="contentBody" class="container mb-5">
                <%= yield %>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>

    <%#-------------------------------------------------%>
    <%# Alerts                                          %>
    <%#-------------------------------------------------%>
    <%= flash_alert(flash) %>

    <%#-------------------------------------------------%>
    <%# Mobile Buttons                                  %>
    <%#-------------------------------------------------%>
    <%= render partial: 'spree/admin/shared/mobile_only_controles' %>

    <%#-------------------------------------------------%>
    <%# Custom Confirm Dialog                           %>
    <%#-------------------------------------------------%>
    <%= render partial: 'spree/admin/shared/custom_dialog' %>

    <%#-------------------------------------------------%>
    <%# Store Switcher                                  %>
    <%#-------------------------------------------------%>
    <%= render partial: 'spree/admin/shared/store_switcher' %>

    <%#-------------------------------------------------%>
    <%# Universal Modal & OffCanvas                     %>
    <%#-------------------------------------------------%>
    <%= turbo_frame_tag :modal %>
    <%= turbo_frame_tag :offcanvas %>

    <%#-------------------------------------------------%>
    <%# Insert Footer JavaScript                      %>
    <%#-------------------------------------------------%>
    <div data-hook="admin_footer_scripts"></div>
  </body>
</html>
