<% content_for :page_title do %>
  <%= breadcrumb_builder(link_one_uri: spree.admin_users_path, link_one_text: I18n.t('spree.admin.users.users'), current_page_name: @user.email) %>
<% end %>

<div class="row">
  <div class="col-12 col-md-8">
    <%= render 'lifetime_stats' %>

    <div class="card">
      <div class="card-header d-flex">
        <div class="flex-fill">
          <h5 class="card-title"><%= I18n.t('spree.admin.user.orders') %></h5>
        </div>
        <div>
          <%= link_to_with_icon Spree.t(:create_new_order), spree.new_admin_order_path(user_id: @user.id), class: "btn btn-sm btn-outline-secondary", icon: 'plus-square.svg' if can?(:create, Spree::Order) %>
        </div>
      </div>
      <%= turbo_frame_tag :user_orders, src: spree.orders_admin_user_path(@user), loading: :lazy %>
    </div>

    <div class="card">
      <div class="card-header d-flex">
        <div class="flex-fill">
          <h5 class="card-title">
            <%= I18n.t('spree.admin.user.store_credits') %>
          </h5>
        </div>
        <div>
          <%= link_to_with_icon(Spree.t(:add_store_credit), spree.new_admin_user_store_credit_path(@user), class: "btn btn-sm btn-outline-secondary", icon: 'plus-square.svg', data: {turbo_frame: :modal}) if can?(:create, Spree::StoreCredit) %>
        </div>
      </div>
      <%= turbo_frame_tag :user_store_credits_wrapper do %>
        <%= turbo_frame_tag :user_store_credits, src: spree.admin_user_store_credits_path(@user), loading: :lazy %>
        <%= flash_alert(flash) %>
      <% end %>
    </div>
  </div>

  <div class="col-12 col-md-4">
    <sa-card id="customerDetails">
      <sa-header>
        <h5><%= I18n.t('spree.admin.user.customer') %></h5>
        <%= link_to I18n.t('spree.admin.actions.edit'), spree.customer_details_admin_user_path(@user), class: "btn btn-sm btn-outline-secondary", data: {turbo_frame: :modal} %>
      </sa-header>

      <sa-body>
        <% if @user.first_name || @user.last_name %>
          <%= @user.first_name %> <%= @user.last_name %><br>
        <% end %>
        <div class="d-flex" data-controller="clipboard">
          <div class="flex-fill">
            <%= hidden_field :user, :email, value: @user.email, placeholder: I18n.t("spree.admin.user.user_email"), data: {clipboard_target: "source"} %>
            <%= @user.email %>
          </div>
          <div>
            <button data-action="clipboard#copy" class="btn btn-sm btn-link">
              <%= inline_svg_tag 'clipboard2.svg', size: '16px * 16px' %>
            </button>
          </div>
        </div>
        <span class="text-muted"><%= I18n.t('spree.admin.user.user_since') %>:</span> <%= pretty_date(@user.created_at) %>
        <div class="mt-2">
          <% @user.spree_roles.each do |role| %>
            <span class="badge bg-secondary"><%= role.name %></span>
          <% end %>
        </div>
      </sa-body>

      <hr>

      <sa-header id="customerAddresses">
        <% if @user.bill_address == @user.ship_address %>
          <h5 class="card-title"><%= I18n.t('spree.admin.user.address') %></h5>
        <% else %>
          <h5 class="card-title"><%= I18n.t('spree.admin.user.addresses') %></h5>
        <% end %>

        <%= link_to I18n.t('spree.admin.users.manage'), spree.addresses_admin_user_path(@user), class: "btn btn-sm btn-outline-secondary" %>
      </sa-header>

      <sa-body>
        <% if @user.bill_address.present? %>
          <% unless @user.bill_address == @user.ship_address %>
            <h6><%= I18n.t('spree.admin.user.billing_addresses') %></h6>
          <% end %>

          <%= render partial: 'spree/admin/shared/address/card', locals: {address: @user.bill_address} %>
          <% if @user.bill_address == @user.ship_address %>
            <small class="text-muted"><%= I18n.t('spree.admin.address.used_for_billing_and_shipping') %></small>
          <% end %>
        <% end %>

        <% unless @user.bill_address == @user.ship_address %>
          <hr>
          <% if @user.ship_address.present? %>
            <h6><%= I18n.t('spree.admin.user.shipping_addresses') %></h6>

            <%= render partial: 'spree/admin/shared/address/card', locals: {address: @user.ship_address} %>
          <% end %>
        <% end %>
      </sa-body>
    </sa-card>
  </div>
</div>
