<% content_for :page_title do %>
  <%= breadcrumb_builder(link_one_uri: spree.admin_users_path, link_one_text: I18n.t('spree.admin.users.users'), current_page_name: @user.email) %>
<% end %>

<% content_for :page_actions do %>
  <%= link_to_with_icon Spree.t(:create_new_order), spree.new_admin_order_path(user_id: @user.id), class: "btn-primary btn", icon: 'plus-square.svg' if can?(:create, Spree::Order) %>
<% end %>

<div class="row">
  <div class="col-12 col-md-8">
    <%= render 'lifetime_stats' %>
    <%= turbo_frame_tag :user_orders, src: spree.orders_admin_user_path(@user), loading: :lazy %>
  </div>

  <div class="col-12 col-md-4">
    <div class="card">
      <div class="card-header d-flex">
        <div class="flex-fill">
          <h5 class="card-title">
            <%= I18n.t('spree.admin.user.customer') %>
          </h5>
        </div>
        <div>
          <%= link_to I18n.t('spree.admin.actions.edit'), spree.customer_details_admin_user_path(@user), class: "btn btn-sm btn-outline-secondary", data: {turbo_frame: :modal} %>
        </div>
      </div>

      <div class="card-body">
        <%= @user.first_name %> <%= @user.last_name %><br>
        <%= @user.email %>
        <div>
        <% @user.spree_roles.each do |role| %>
          <span class="badge bg-secondary"><%= role.name %></span>
        <% end %>
        </div>
      </div>

      <hr>

      <div class="card-body">
        <div class="d-flex">
          <div class="flex-fill">
            <% if @user.bill_address == @user.ship_address %>
              <h5 class="card-title"><%= I18n.t('spree.admin.user.default_address') %></h5>
              <small class="text-muted"><%= I18n.t('spree.admin.address.used_for_billing_and_shipping') %></small>
            <% else %>
              <h5 class="card-title"><%= I18n.t('spree.admin.user.default_addresses') %></h5>
            <% end %>
          </div>
          <div>
            <%= link_to I18n.t('spree.admin.users.manage'), spree.addresses_admin_user_path(@user), class: "btn btn-sm btn-outline-secondary" %>
          </div>
        </div>

        <% if @user.bill_address.present? %>
          <% unless @user.bill_address == @user.ship_address %>
            <h6><%= I18n.t('spree.admin.user.billing_addresses') %></h6>
          <% end %>

          <%= render partial: 'spree/admin/shared/address', locals: {address: @user.bill_address} %>
        <% end %>

        <% unless @user.bill_address == @user.ship_address %>
          <hr>
          <% if @user.ship_address.present? %>
            <h6><%= I18n.t('spree.admin.user.shipping_addresses') %></h6>

            <%= render partial: 'spree/admin/shared/address', locals: {address: @user.ship_address} %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
