<%= content_for :offcanvas_title do %>
  <%= I18n.t('spree.admin.more_filters') %>
<% end %>

<%= content_for :offcanvas_content do %>
  <%= search_form_for [:admin, @search], id: "moreFilterForm", data: {controller: "form--autosave", turbo_frame: :index_table, form__reset_target: "resettable"} do |f| %>
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button class="accordion-button btn btn-light collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            <%= I18n.t('spree.admin.products.search') %>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
          <div class="accordion-body">
            <%= f.field_container :title_cont do %>
              <%= f.text_field :title_cont, placeholder: Spree.t(:title), class: "form-control", data: { action: 'form--autosave#save' } %>
              <%= f.label :title_cont, Spree.t(:title) %>
            <% end %>

            <%= f.field_container :q_type_eq do %>
              <%= f.select(:type_eq, spree_humanize_dropdown_values('Spree::CmsPage', {const: 'TYPES'}), {include_blank: true}, class: 'form-select', data: {action: 'form--autosave#save', controller: 'ts--select'}) %>
              <%= label_tag :q_type_eq, Spree.t(:type) %>
            <% end %>

            <%= f.field_container :q_type_eq do %>
              <%= f.select :locale_eq, all_locales_options, { include_blank: true }, class: 'form-select', data: {action: 'form--autosave#save', controller: 'ts--select'} %>
              <%= label_tag :q_locale_eq, Spree.t(:language) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= f.submit I18n.t('spree.admin.actions.filter'), data: {form__autosave_target: "submitButton"} %>
  <% end %>

  <%= content_for :offcanvas_footer do %>
    <div class="flex-fill">
      <%= link_to I18n.t('spree.admin.actions.clear_filters'), spree.admin_products_path, class: "btn btn-outline-secondary", data: {turbo_frame: :index_table, action: "form--reset#clearForm"} %>
    </div>
    <div data-hook="admin_products_index_search_buttons" class="form-actions">
      <button type="button" class="btn-primary btn" data-bs-dismiss="offcanvas" aria-label="Close"><%= I18n.t('spree.admin.actions.done') %></button>
    </div>
  <% end %>
<% end %>
<%= render partial: "spree/admin/shared/offcanvas", locals: {settings: 'offcanvas-end'} %>
