<% content_for :page_title do %>
  <%= link_to I18n.t('spree.dash.cms.all_pages'), spree.admin_cms_pages_path %> / <%= I18n.t('spree.dash.cms.new_page') %>
<% end %>

<%= form_with model: [:admin, @cms_page], builder: Spree::Dash::BootstrapBuilder do |f| %>
  <div id="<%= dom_id(@cms_page) %>" class="card">
    <div class="card-header d-flex">
      <div class="flex-fill">
        <h5 class="card-title"><%= I18n.t('spree.dash.cms_pages.new_page_details') %></h5>
      </div>
      <div>
        <a data-bs-toggle="collapse" href="#cmsPageInformation" role="button" aria-expanded="false" aria-controls="cmsPageInformation" class="align-self-center">
          <%= inline_svg_tag "info-circle.svg", size: '20px * 20px', class: 'ms-1 shim-bottom' %>
        </a>
      </div>
    </div>
    <div class="card-body pb-2">
      <div class="row pb-0">
        <div class="col-12 col-md-4">
          <%= f.field_container :title do %>
            <%= f.text_field :title, required: true %>
            <%= f.label :title, raw(I18n.t('spree.dash.cms.title') + required_span_tag) %>
          <% end %>
        </div>

        <div class="col-12 col-md-4">
          <%= f.field_container :type do %>
            <%= f.select(:type, spree_humanize_dropdown_values('Spree::CmsPage', {const: 'TYPES'}), {include_blank: false}) %>
            <%= f.label :type, I18n.t('spree.dash.cms.page_type') %>
          <% end %>
        </div>

        <div class="col-12 col-md-4">
          <%= f.field_container :locale do %>
            <%= f.select :locale, options_from_collection_for_select(supported_locales_options, :last, :first, @cms_page.locale || I18n.locale), {} %>
            <%= f.label :language %>
          <% end %>
        </div>
      </div>

      <div class="row pb-0">
        <div class="col-12 text-center">
          <%= render partial: 'spree/admin/shared/new_resource_links' %>
        </div>
      </div>

      <div class="card-body">
        <div class="collapse" id="cmsPageInformation">
          <div class="bs-callout bs-callout-info">
            <h5>
              <%= I18n.t('spree.dash.cms_pages.basic_deatils') %>
            </h5>
            <p>
              <%= I18n.t('spree.dash.cms_pages.when_creating_a_new_page_first_give_the_page_a_title_and_select_the_page_type_you_will_then_be_offered_more_options') %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
