<fieldset data-id="credit-card">
  <% if previous_cards.any? %>
    <div class="card my-3">
      <div class="card-header">
        <h5 class="card-title mb-0 h6"><%= Spree.t(:previously_used_card) %></h5>
      </div>
        <div class="form-group previous_cards card-body mb-0" data-hook="previous_cards">
          <ul class="m-0 p-0">
              <% previous_cards.each do |card| %>
                <li>
                  <label>
                    <%= radio_button_tag :card, card.id, card == previous_cards.first %> <%= card.display_brand + ' - ' + card.display_number %>
                  </label>
                </li>
              <% end %>
              <li>
                <hr>
                <label>
                  <%= radio_button_tag :card, 'new', false, { id: "card_new#{payment_method.id}" } %> <%= Spree.t(:use_new_cc) %>
                </label>
              </li>
          </ul>
        </div>
    </div>
  <% end %>
  <div id="card_form<%= payment_method.id %>" class="mt-3 row" data-hook data-controller="card-formatting">
    <% param_prefix = "payment_source[#{payment_method.id}]" %>

    <div class="col-12">
      <%= field_container('card_name', nil, data: { hook: 'card_name' }) do %>
        <%= text_field_tag "#{param_prefix}[name]", '', id: "card_name#{payment_method.id}", class: 'form-control', maxlength: 19, placeholder: Spree.t(:name), required: true %>
        <%= label_tag "card_name#{payment_method.id}", raw(Spree.t(:name) + required_span_tag), class: 'form-label' %>
      <% end %>
    </div>

    <div class="col-12">
      <%= field_container('card_number', nil, data: { hook: 'card_number' }) do %>
        <%= text_field_tag "#{param_prefix}[number]", '', class: 'form-control', id: "card_number#{payment_method.id}", maxlength: 19, placeholder: Spree.t(:card_number), required: true, data: { card_formatting_target: 'number' } %>
        <%= label_tag "card_number#{payment_method.id}", raw(Spree.t(:card_number) + required_span_tag), class: 'form-label' %>
      <% end %>
    </div>

    <div class="col-6">
      <%= field_container('card_expiration', nil, data: { hook: 'card_expiration' }) do %>
        <%= text_field_tag "#{param_prefix}[expiry]", '', id: "card_expiry#{payment_method.id}", class: "form-control", placeholder: "MM/YYYY", required: true, data: { card_formatting_target: 'exp' } %>
        <%= label_tag "card_expiry#{payment_method.id}", raw(Spree.t(:expiration) + required_span_tag), class: 'form-label' %>
      <% end %>
    </div>

    <div class="col-6">
      <%= field_container('card_code', nil, data: { hook: 'card_code' }) do %>
        <%= text_field_tag "#{param_prefix}[verification_value]", '', id: "card_code#{payment_method.id}", class: 'form-control', placeholder: I18n.t('spree.dash.payments.gateway.cvc'), required: true, size: 5, data: { card_formatting_target: 'code' } %>
        <%= label_tag "card_code#{payment_method.id}", raw(I18n.t('spree.dash.payments.gateway.cvc') + required_span_tag), class: 'form-label' %>
      <% end %>
    </div>

    <%= hidden_field_tag "#{param_prefix}[cc_type]", '', { class: 'ccType', data: { card_formatting_target: 'type' } } %>
  </div>
</fieldset>
