<div class="card">
  <div class="card-header">
    <h5><%= I18n.t("spree.dash.products.overview") %></h5>
  </div>
  <div class="card-body">
    <h5>
      <span class="badge bg-success animate__animated" id="productStatus" data-stream-enter-class="animate__pulse"><%= @product.status.capitalize %></span>

    <span class="badge text-bg-success">
      <% if @product.digital? %>
        <%= I18n.t('spree.dash.product_kinds.digital') %>
      <% else %>
        <%= I18n.t('spree.dash.product_kinds.physical') %>
      <% end %>
    </span>

    <% if @product.has_variants? %>
      <span class="badge text-bg-success"><%= I18n.t("spree.dash.product.has_variants") %></span>
    <% end %>
    </h5>
  </div>
</div>
