<%= turbo_frame_tag :product_properties do %>
  <%= form_with model: [:admin, @product], data: {controller: "form-state"} do |f| %>
    <div class="card">
      <div class="card-header d-flex">
        <div class="flex-fill">
          <h5 class="card-title"><%= I18n.t('spree.admin.products.properties') %></h5>
        </div>
        <div>
          <% if can? :create, Spree::ProductProperty %>
            <%= link_to_with_icon(I18n.t('spree.admin.products.select_from_prototype'), spree.prototypes_admin_product_product_properties_path(@product), icon: 'list.svg', class: 'btn btn-secondary btn-sm', data: { turbo_frame: :modal}) if Spree::Prototype.any? %>
            <%= link_to_with_icon I18n.t('spree.admin.products.add_new_property'), spree.new_admin_product_product_property_path(@product), icon: 'plus-square.svg', class: 'btn btn-secondary btn-sm', data: { turbo_frame: :modal } %>
          <% end %>
        </div>
      </div>

      <% if @product.properties.any? %>
      <div class="table-responsive">
        <table id="product_properties" class="table">
          <thead class="text-muted">
            <tr data-hook="product_properties_header">
              <th></th>
              <th><%= Spree.t(:name) %></th>
              <th><%= Spree.t(:value) %></th>
              <th class="text-center"><%= Spree.t(:show) %></th>
              <th class="actions"></th>
            </tr>
          </thead>
          <tbody data-controller="sortable" data-sortable-resource-name-value="product_property">
            <%= f.fields_for :product_properties do |pp_form| %>
              <%= render 'spree/admin/product_properties/product_property_fields', f: pp_form if pp_form.object.persisted? %>
            <% end %>
          </tbody>
        </table>
      </div>
      <% else %>
        <% if can? :create, Spree::ProductProperty %>
          <div class="text-center m-4">
            <%= I18n.t('spree.admin.products.add_first_property') %>
          </div>
        <% end %>
      <% end %>

      <div class="card-footer">
        <%= render partial: 'spree/admin/shared/resource_actions' %>
      </div>
    </div>
  <% end %>
<% end %>
