<div class="col-12 col-md-4">
  <div class="card">
    <div class="card-header">
      <% if @user.bill_address == @user.ship_address %>
        <h5 class="card-title"><%= I18n.t('spree.admin.user.default_address') %></h5>
        <small class="text-muted">Used for Billing and Shipping</small>
      <% else %>
        <h5 class="card-title"><%= I18n.t('spree.admin.user.default_addresses') %></h5>
      <% end %>
    </div>

    <div class="card-body">
      <% if @user.bill_address.present? %>
        <% unless @user.bill_address == @user.ship_address %>
          <h6><%= I18n.t('spree.admin.user.billing_addresses') %></h6>
        <% end %>
        <div>
          <% if @user.bill_address.label.present? %>
            <h6><span class="badge bg-secondary"><%= @user.bill_address.label %></span></h6>
          <% end %>
          <span class="text-muted"><%= I18n.t('spree.admin.user.name') %>:</span> <%= @user.bill_address.full_name %><br>
          <% if @user.bill_address.company.present? %>
            <span class="text-muted"><%= I18n.t('spree.admin.user.company') %>:</span> <%= @user.bill_address.company %><br>
          <% end %>
          <span class="text-muted"><%= I18n.t('spree.admin.user.street') %>:</span> <%= @user.bill_address.address1 %><br>
          <% if @user.bill_address.address2.present? %>
            <span class="text-muted"><%= I18n.t('spree.admin.user.address2') %>:</span> <%= @user.bill_address.address2 %><br>
          <% end %>
          <span class="text-muted"><%= I18n.t('spree.admin.user.city') %>:</span> <%= @user.bill_address.city %><br>
          <% if @user.bill_address.state.present? %>
            <span class="text-muted"><%= I18n.t('spree.admin.user.state') %>:</span> <%= @user.bill_address.state %><br>
          <% end %>
          <% if @user.bill_address.zipcode.present? %>
            <span class="text-muted"><%= I18n.t('spree.admin.user.zip_code') %>:</span> <%= @user.bill_address.zipcode %><br>
          <% end %>
          <span class="text-muted"><%= I18n.t('spree.admin.user.country') %>:</span> <%= @user.bill_address.country %>
          <% if @user.bill_address.phone.present? %>
            <br>
            <span class="text-muted"><%= I18n.t('spree.admin.user.phone') %>:</span> <%= @user.bill_address.phone %><br>
          <% end %>

          <%= form_with model: [:admin, @user], url: spree.update_address_admin_user_path(@user), method: :put, id: :use_billing_for_both_form do |f| %>
            <%= f.hidden_field :ship_address_id, value: @user.bill_address.id %>
          <% end unless @user.bill_address == @user.ship_address %>
          <%= button(nil, "truck.svg", "submit", {class: 'btn btn-sm btn-light', form: "use_billing_for_both_form"}) unless @user.bill_address == @user.ship_address %>
          <%= link_to_edit(@user.bill_address, url: spree.edit_admin_address_path(@user.bill_address, user_id: @user.id), data: {turbo_frame: :modal}) %>
        </div>
      <% end %>

      <% unless @user.bill_address == @user.ship_address %>
        <hr>
      <% end %>

      <% unless @user.bill_address == @user.ship_address %>
        <% if @user.ship_address.present? %>
        <h6><%= I18n.t('spree.admin.user.shipping_addresses') %></h6>
          <div>
            <% if @user.ship_address.label.present? %>
              <h6><span class="badge bg-secondary"><%= @user.ship_address.label %></span></h6>
            <% end %>
            <span class="text-muted"><%= I18n.t('spree.admin.user.name') %>:</span> <%= @user.ship_address.full_name %><br>
            <% if @user.ship_address.company.present? %>
              <span class="text-muted"><%= I18n.t('spree.admin.user.company') %>:</span> <%= @user.ship_address.company %><br>
            <% end %>
            <span class="text-muted"><%= I18n.t('spree.admin.user.street') %>:</span> <%= @user.ship_address.address1 %><br>
            <% if @user.ship_address.address2.present? %>
              <span class="text-muted"><%= I18n.t('spree.admin.user.address2') %>:</span> <%= @user.ship_address.address2 %><br>
            <% end %>
            <span class="text-muted"><%= I18n.t('spree.admin.user.city') %>:</span> <%= @user.ship_address.city %><br>
            <% if @user.ship_address.state.present? %>
              <span class="text-muted"><%= I18n.t('spree.admin.user.state') %>:</span> <%= @user.ship_address.state %><br>
            <% end %>
            <% if @user.ship_address.zipcode.present? %>
              <span class="text-muted"><%= I18n.t('spree.admin.user.zip_code') %>:</span> <%= @user.ship_address.zipcode %><br>
            <% end %>
            <span class="text-muted"><%= I18n.t('spree.admin.user.country') %>:</span> <%= @user.ship_address.country %>
            <% if @user.ship_address.phone.present? %>
              <br>
              <span class="text-muted"><%= I18n.t('spree.admin.user.phone') %>:</span> <%= @user.ship_address.phone %><br>
            <% end %>

            <%= form_with model: [:admin, @user], url: spree.update_address_admin_user_path(@user), method: :put, id: :use_shipping_for_both_form do |f| %>
              <%= f.hidden_field :bill_address_id, value: @user.ship_address.id %>
            <% end unless @user.ship_address == @user.bill_address %>
            <%= button(nil, "receipt.svg", "submit", {class: 'btn btn-sm btn-light', form: "use_shipping_for_both_form"}) unless @user.bill_address == @user.ship_address %>
            <%= link_to_edit(@user.ship_address, url: spree.edit_admin_address_path(@user.ship_address, user_id: @user.id), data: {turbo_frame: :modal}) %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
