<div class="col-12 col-md-4">
  <div class="card">
    <div class="card-header">
      <% if @user.bill_address == @user.ship_address %>
        <h5 class="card-title"><%= I18n.t('spree.admin.user.default_address') %></h5>
        <small class="text-muted">Used for Billing and Shipping</small>
      <% else %>
        <h5 class="card-title"><%= I18n.t('spree.admin.user.default_addresses') %></h5>
      <% end %>
    </div>

    <div class="card-body">
      <% if @user.bill_address.present? %>
        <% unless @user.bill_address == @user.ship_address %>
          <h6><%= I18n.t('spree.admin.user.billing_addresses') %></h6>
        <% end %>

        <%= render partial: 'spree/admin/shared/address', locals: {address: @user.bill_address} %>
        <div>
          <%= form_with model: [:admin, @user], url: spree.update_address_admin_user_path(@user), method: :put, id: :use_billing_for_both_form do |f| %>
            <%= f.hidden_field :ship_address_id, value: @user.bill_address.id %>
          <% end unless @user.bill_address == @user.ship_address %>
          <%= button(nil, "truck.svg", "submit", {class: 'btn btn-sm btn-light', form: "use_billing_for_both_form"}) unless @user.bill_address == @user.ship_address %>
          <%= link_to_edit(@user.bill_address, url: spree.edit_admin_address_path(@user.bill_address, user_id: @user.id), data: {turbo_frame: :modal}) %>
        </div>
      <% end %>

      <% unless @user.bill_address == @user.ship_address %>
        <hr>
      <% end %>

      <% unless @user.bill_address == @user.ship_address %>
        <% if @user.ship_address.present? %>
          <h6><%= I18n.t('spree.admin.user.shipping_addresses') %></h6>
          <%= render partial: 'spree/admin/shared/address', locals: {address: @user.ship_address} %>

          <div>
            <%= form_with model: [:admin, @user], url: spree.update_address_admin_user_path(@user), method: :put, id: :use_shipping_for_both_form do |f| %>
              <%= f.hidden_field :bill_address_id, value: @user.ship_address.id %>
            <% end unless @user.ship_address == @user.bill_address %>
            <%= button(nil, "receipt.svg", "submit", {class: 'btn btn-sm btn-light', form: "use_shipping_for_both_form"}) unless @user.bill_address == @user.ship_address %>
            <%= link_to_edit(@user.ship_address, url: spree.edit_admin_address_path(@user.ship_address, user_id: @user.id), data: {turbo_frame: :modal}) %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
