<% dynamic_fields = ['state', 'zipcode', 'country', 'phone', 'firstname', 'lastname'] %>
<% requireds = ['address1', 'city'] %>

<div data-hook="address_fields">
  <% if @user %>
    <%= f.hidden_field :user_id, value: @user.id %>
  <% end %>

  <h6 class="text-muted"><%= I18n.t('spree.admin.address.address_label') %></h6>
  <%= f.field_container :label do %>
    <%= f.text_field :label %>
    <%= f.label :address_name, I18n.t('spree.admin.label') %>
    <small class="text-muted"><%= I18n.t('spree.admin.address.label_info') %></small>
  <% end %>

  <hr class="my-4">

  <h6 class="text-muted"><%= I18n.t('spree.admin.address.contact_details') %></h6>
  <div class="row">
    <div class="col-12 col-md-6">
      <%= f.field_container :firstname do %>
        <%= f.text_field :firstname, required: true, data: {form_validation_target: 'skipRequiredOnValidate'} %>
        <%= f.label :firstname, raw(I18n.t('spree.admin.address.first_name') + required_span_tag) %>
      <% end %>
    </div>
    <div class="col-12 col-md-6">
      <%= f.field_container :lastname do %>
        <%= f.text_field :lastname, required: true, data: {form_validation_target: 'skipRequiredOnValidate'} %>
        <%= f.label :lastname, raw(I18n.t('spree.admin.address.last_name') + required_span_tag) %>
      <% end %>
    </div>
     <div class="col-12">
      <%= f.field_container :phone do %>
        <%= f.text_field :phone, required: true, data: {form_validation_target: 'skipRequiredOnValidate'} %>
        <%= f.label :phone, raw(I18n.t('spree.admin.address.phone') + required_span_tag) %>
      <% end %>
    </div>
  </div>

  <hr class="my-4 mt-1">

  <h6 class="text-muted"><%= I18n.t('spree.admin.address.location') %></h6>
  <% Spree::Address::ADDRESS_FIELDS.each do |field| %>
    <% next if dynamic_fields.include?(field) %>

    <% if field == 'address1' %>
      <% label_name = I18n.t('spree.admin.address.street') %>
    <% else %>
      <% label_name = Spree.t(field) %>
    <% end %>

    <%= field_container (field), nil do %>
      <%= f.text_field field, required: requireds.include?(field), data: {form_validation_target: "#{'skipRequiredOnValidate' if requireds.include?(field)}" } %>
      <% if requireds.include?(field) %>
        <%= f.label field, raw(label_name + required_span_tag) %>
      <% else %>
        <%= f.label field, label_name %>
      <% end %>
    <% end %>
  <% end %>

  <!-- COUNTRY -->
  <%= f.field_container :country do %>
    <%= f.collection_select :country_id, all_countries, :id, :name, {}, { class: 'form-select', data: { controller: 'ts--select', action: 'change->form-validation#validate' } } %>
    <%= f.label :country, raw(Spree.t(:country) + required_span_tag) %>
  <% end %>
  <!-- COUNTRY -->

  <div id="stateAndZipcode">
    <%= render partial: "state_zip" %>
  </div>
</div>
