<% content_for :modal_body do %>
  <div class="container">
    <%= turbo_frame_tag :address_fields, data: { controller: "form-validation" } do %>
      <%= form_with model: @address, url: spree.admin_address_path(@address), method: :patch, data: {turbo: true, turbo_frame: '_top'} do |form| %>
        <%= render partial: 'form', locals: { f: form } %>
      <% end %>
      <%= button_tag "Update Address", formaction: spree.admin_address_path(@address), formmethod: "patch", data: { form_validation_target: "submitBtn", turbo_frame: :address_fields } %>
    <% end %>
  </div>
<% end %>

<% content_for :modal_footer do %>
  <button type="button" class="btn btn-light" data-bs-dismiss="modal"><%= I18n.t('spree.admin.actions.cancel') %></button>
  <%= submit_tag(I18n.t('spree.admin.actions.save'), class: "btn btn-primary", form: "edit_address_#{@address.id}" ) %>
<% end %>

<%= render partial: 'spree/admin/shared/modal' %>
