<div data-hook="admin_webhooks_subscriber_form_fields">

  <div class="card">
    <div class="card-header">
      <h5 class="card-title">
        <%= I18n.t('spree.admin.details') %>
      </h5>
    </div>
    <div class="card-body">
      <%= f.field_container :url do %>
        <%= f.text_field :url, class: 'form-control', placeholder: 'https://example.com/endpoint' %>
        <%= f.label :url, raw(I18n.t('spree.admin.url') + required_span_tag) %>
      <% end %>

      <div class="form-check">
        <%= f.check_box :active, class: 'form-check-input' %>
        <%= f.label :active, class: 'form-check-label' %>
      </div>

    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h5 class="card-title"><%= I18n.t('spree.admin.webhooks.subscribers.events') %></h5>
    </div>

    <div class="card-body" data-controller="panel-switcher">
      <%= f.field_container :subscriptions, class: ['form-group'] do %>
        <div class="form-check">
          <%= radio_button_tag :subscribe_to_all_events, true,
                               subscribe_to_all_events?,
                               { class: 'form-check-input',
                                 data: { bs_toggle: "collapse", bs_target: ".allWebhooksPanel.show"} } %>
          <%= label_tag :subscribe_to_all_events_true, I18n.t('spree.admin.webhooks.subscribers.subscribe_to_all_events'), class: 'form-check-label' %>
        </div>
        <div class="form-check">
          <%= radio_button_tag :subscribe_to_all_events, false,
                               !subscribe_to_all_events?,
                               { class: 'form-check-input',
                                 data: {bs_toggle: "collapse", bs_target: ".allWebhooksPanel:not(.show)"} } %>
          <%= label_tag :subscribe_to_all_events_false, I18n.t('spree.admin.webhooks.subscribers.select_events'), class: 'form-check-label' %>
        </div>

        <div class="collapse allWebhooksPanel <%= "show" if !subscribe_to_all_events? %>">
          <hr>
          <div class="row">
            <% @supported_events.each do |event| %>
              <%= event_checkbox_for(event[0], f) %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
