<tr id="<%= dom_id(f.object) %>"
    data-sortable-update-url="<%= spree.admin_option_type_option_value_path(@option_type, f.object) if f.object.persisted? %>"
    data-stream-exit-class="animate__fadeOut">

  <td class="move-handle">
    <%= render 'spree/admin/shared/drag_handle' %>
  </td>
  <td>
    <%= f.text_field :name, class: "form-control", required: true %>
  </td>
  <td>
    <%= f.text_field :presentation, class: "form-control", required: true %>
  </td>
  <td class="actions">
    <span class="d-flex justify-content-end">
      <%= link_to_delete(f.object, url: spree.admin_option_type_option_value_path(@option_type, f.object)) %>
    </span>
  </td>

  <!-- IMPORTANT
    Add <%#= f.hidden_field :id %> inside the <tr> to stop f.fields_for
    inserting one outside the <tr> and confusing sortable ordering. -->
  <%= f.hidden_field :id %>
</tr>
