<% content_for :page_title do %>
  <%= breadcrumb_builder(link_one_uri: spree.admin_option_types_url, link_one_text: I18n.t('spree.admin.options.all_option_types'), current_page_name: @option_type.name) %>
<% end %>

<%= form_with model: [:admin, @option_type], data: {controller: "form-state"} do |f| %>
  <div class="card mb-3">
    <div class="card-header d-flex">
      <div class="flex-fill">
        <h5 class="card-title"><%= I18n.t("spree.admin.settings") %></h5>
      </div>
      <div id="inputStateSubmitButton">
        <%= render partial: 'spree/admin/shared/submit_button', locals: { kind: :edit, form_id: "edit_option_type_#{@option_type.id}" } %>
      </div>
    </div>
    <div class="card-body">
      <%= render 'form', f: f %>
    </div>
    <div class="card-header">
    </div>
    <div class="card-body pt-0">
      <% if @option_type.option_values.any? %>
        <div class="table-responsive border rounded bg-white">
          <table class="table">
            <thead data-hook="option_header">
              <tr>
                <th><%= spree_admin_svg_tag("arrow-down-up.svg", style: "margin-left: 0.7rem") %></th>
                <th><%= raw(I18n.t('spree.admin.name') + required_span_tag) %></th>
                <th><%= raw(I18n.t('spree.admin.display') + required_span_tag) %></th>
                <th class="actions text-end">
                  <%= link_to_with_icon I18n.t('spree.admin.options.add_option_value'), spree.new_admin_option_type_option_value_path(@option_type), { icon: 'plus-square.svg', class: 'btn btn-sm btn-secondary', data: { turbo_frame: :modal } } %>
                </th>
              </tr>
            </thead>
            <tbody data-controller="sortable" data-sortable-resource-name-value="option_value">
              <%= f.fields_for :option_values do |option_value_form| %>
                <%= render partial: 'option_value_fields', locals: { f: option_value_form } %>
              <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <div class="alert alert-info text-center" role="alert">
          <span><%= I18n.t('spree.admin.options.values.this_option_types') %></span><br>
          <%= link_to_with_icon I18n.t('spree.admin.options.add_option_value'), spree.new_admin_option_type_option_value_path(@option_type), { icon: 'plus-square.svg', class: 'btn btn-sm btn-secondary', data: { turbo_frame: :modal } } %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
