<div data-hook="admin_image_form_fields" class="row">
  <div class="col-12">
    <div data-hook="file" class="form-group">
      <%= f.label :attachment, Spree.t(:filename) %>
      <%= f.file_field :attachment %>
    </div>

    <%= f.field_container :viewable_id do %>
      <%= f.select :viewable_id, @variants, {} %>
      <%= f.label :viewable_id, Spree::Variant.model_name.human %>
    <% end %>

    <%= f.field_container :alt do %>
      <%= f.text_area :alt, rows: 4 %>
      <%= f.label :alt, Spree.t(:alt_text) %>
    <% end %>
  </div>
</div>
