<div data-hook="admin_image_form_fields" class="row">
  <div class="col-12">
    <%= f.field_container :attachment do %>
      <%= f.file_field :attachment %>
      <%= f.label :attachment, Spree.t(:product_image) %>
    <% end %>

    <%#= f.fields_for :private_metadata do |private_metadata| %>
      <%#= f.field_container :variant_ids do %>
        <%#= private_metadata.select :variant_ids, options_from_collection_for_select(@variants, :id, :sku_and_options_text, @image.private_metadata[:variant_ids]),
                                                  { include_hidden: true },
                                                    multiple: true,
                                                    data: { controller: 'ts--search' } %>

        <%#= private_metadata.label :variants %>
      <%# end %>
    <%# end %>

    <%= f.fields_for :private_metadata do |private_metadata| %>
      <%= f.field_container :option_value_ids do %>
        <%= private_metadata.select :option_value_ids, options_from_collection_for_select(@option_values, :id, :option_type_and_value, @image.private_metadata[:option_value_ids]),
                                                        { include_hidden: false },
                                                          multiple: true,
                                                          data: { controller: 'ts--search' } %>

        <%= private_metadata.label :option_values %>
        <small class="text-muted">Options listed are those with the Option type set to Image Filter true</small>
      <% end %>
    <% end %>

    <%= f.field_container :alt do %>
      <%= f.text_area :alt, rows: 4 %>
      <%= f.label :alt, Spree.t(:alt_text) %>
    <% end %>
  </div>
</div>
