<div class="promo-rule-option-values mb-3">
  <button class="btn btn-primary btn-primary">
    <%= spree_admin_svg_tag "plus-lg.svg" %>
    <%= I18n.t('spree.admin.promotions.add_new_product_options_set') %>
  </button>
</div>

<%= form_with model: @promotion, url: object_url, method: :put do |f| %>
  <div id="product_option_value_set_container">
    <sa-card id="<%= dom_id(promotion_rule) %>">
      <sa-header>
        <div class="flex-fill">
          <label><%= Spree.t(:product) %> <%= Spree.t(:option_values) %></label>
        </div>

        <div>
          <a class="btn btn-sm btn-outline-secondary"><%= spree_admin_svg_tag "x-lg.svg", size: '16px' %></a>
        </div>
      </sa-header>

      <sa-body>
        <div class="row">
          <div class="col-12 mb-3" data-controller="form--autosave">
            <div class="form-floating" >
                <%= select_tag "product_id", nil, class: 'form-select',
                                               placeholder: I18n.t('spree.admin.order.search_products_by_name_or_sku'),
                                               data: {
                                                       action: 'form--autosave#save',
                                                       controller: 'ts--search',
                                                       ts__search_debug_value: true,
                                                       ts__search_uri_value: '/api/v2/platform/products',
                                                       ts__search_fields_value: ['name', 'sku'],
                                                       ts__search_include_value: 'option_types.option_values'
                                                     } %>

                <%= label_tag 'product', I18n.t('spree.admin.product_rule.product') %>
            </div>
            <%= submit_tag 'save', formmethod: :post, formaction: spree.admin_promotion_promotion_rule_product_options_path(@promotion, promotion_rule), data: {form__autosave_target: 'submitButton'} %>
          </div>

          <div class="col-12">
            <div class="form-floating">
              <%= f.fields_for :promotion_rules, promotion_rule do |pr|%>
              <%= hidden_field_tag("promotion[promotion_rules_attributes][#{promotion_rule.id}][id]", promotion_rule.id) %>

                <div id="ovs_<%= dom_id(promotion_rule) %>">
                  <%= collection_select(nil, "promotion[promotion_rules_attributes][#{promotion_rule.id}][preferred_eligible_values][#{@product.id if @product}]", @product_options, :id, :presentation, { include_blank: false, include_hidden: false }, multiple: true, disabled: @product_options.empty?, data: { controller: 'ts--select' }) %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </sa-body>
    </sa-card>
  </div>
  <div class="text-end">
    <%= render partial: 'spree/admin/shared/submit_button' %>
  </div>
<% end %>
