<div class="card">
  <div class="card-header d-flex">
    <div class="flex-fill">
      <h5 class="card-title">
        <%= I18n.t('spree.admin.order.currency') %>
      </h5>
    </div>
    <div>
      <h5 class="card-title">
        <span class="badge bg-success"><%= currency_symbol(@order.currency) %> <%= @order.currency %></span>
      </h5>
    </div>
  </div>
  <div class="card-body">

      <% currency_label_text = @order.item_count > 0 ? I18n.t('spree.admin.order.the_order_currency_is_locked_once_items_are_added') : Spree.t(:currency) %>

    <%= form_with model: @order, url: spree.admin_order_path(@order), method: :patch, data: { turbo_frame: dom_id(@order), controller: "form-validation" } do |f| %>
      <div class="form-group form-floating mb-0">
        <%= f.select :currency, supported_currency_options, { include_blank: false }, class: 'form-select', disabled: @order.item_count > 0,
                                                            placeholder: I18n.t('spree.admin.order.set_order_currency'),
                                                            data: { action: 'change->form-validation#validate' } %>

        <%= f.label :currency, currency_label_text, class: 'form-label' %>
      </div>

      <%= f.submit I18n.t('spree.admin.order.set_order_currency'), class: 'btn btn-light', data: { form_validation_target: "submitBtn" } %>
    <% end %>
  </div>
</div>
