<%= turbo_frame_tag "#{plural_resource_name(@collection).downcase}-page-#{@pagy.page}" do %>
  <% @collection.each do |order| %>
    <g-tr style=" grid-template-columns: 1fr 3fr 2fr 1fr 1fr 1fr 1fr; " class="<%= "text-muted" if order.shipment_state == 'shipped' %>">
      <g-td data-controller="linkable-td" data-linkable-td-uri-value="<%= spree.edit_admin_order_path(order) %>">
        <%= order.number %>
      </g-td>

      <g-td data-controller="linkable-td" data-linkable-td-uri-value="<%= spree.edit_admin_order_path(order) %>" class="text-nowrap">
        <%= order_time(@show_only_completed ? order.completed_at : order.created_at) %>
      </g-td>

      <g-td class="dropdown">
        <% if order.user %>
          <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= order.email %>
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to order.email, spree.edit_admin_user_path(order.user), class: 'dropdown-item' %></li>
          </ul>
        <% else %>
          <%= mail_to order.email %>
        <% end %>
      </g-td>

      <g-td data-controller="linkable-td" data-linkable-td-uri-value="<%= spree.edit_admin_order_path(order) %>">
        <span class="badge rounded-pill bg-<%= order.considered_risky ? 'considered_risky' : 'considered_safe' %>">
          <%= order.considered_risky ? I18n.t("spree.admin.risky") : I18n.t("spree.admin.safe") %>
        </span>
      </g-td>

      <g-td data-controller="linkable-td" data-linkable-td-uri-value="<%= spree.edit_admin_order_path(order) %>">
        <% if order.payment_state %>
          <span class="badge rounded-pill bg-<%= order.payment_state %>">
            <%= I18n.t("spree.admin.payment_states.#{order.payment_state}") %>
          </span>
        <% end %>
      </g-td>

      <% if Spree::Order.checkout_step_names.include?(:delivery) %>
        <g-td data-controller="linkable-td" data-linkable-td-uri-value="<%= spree.edit_admin_order_path(order) %>">
          <% if order.shipment_state %>
            <span class="badge rounded-pill bg-<%= order.shipment_state %>">
              <%= I18n.t("spree.admin.shipment_states.#{order.shipment_state}") %>
            </span>
          <% end %>
        </g-td>
      <% end %>

      <g-td data-controller="linkable-td" data-linkable-td-uri-value="<%= spree.edit_admin_order_path(order) %>">
        <%= order.display_total.to_html %>
      </g-td>
    </g-tr>
  <% end %>

  <% unless @pagy.nil? %>
    <%= render "spree/admin/shared/next_page" %>
  <% end %>
<% end %>
