<% content_for :page_title do %>
  <%= plural_resource_name(Spree::Order) %>
<% end %>

<% content_for :page_actions do %>
  <%= link_to_with_icon Spree.t(:new_order), new_admin_order_path, class: "btn-primary btn", icon: 'plus-square.svg', id: 'admin_new_order' %>
<% end if can? :create, Spree::Order %>

<%= render "search" if @orders.any? || params[:q].present? %>

<% if @orders.any? %>
  <div class="border border-bottom-0 rounded-top bg-white p-2 pb-3">

    <div class="filter-wrap">
      <div class="index-filter-button d-flex">
        <%= form_tag request.fullpath, id: "quick-search", class: 'flex-grow-1 me-3' do %>
          <%= text_field_tag :quick_search, nil, class: "form-control js-quick-search", placeholder: Spree.t(:search_by), autocomplete: false %>
        <% end %>

        <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#tableFilter" aria-expanded="false" aria-controls="tableFilter">
          <%= inline_svg_tag "filter.svg", size: '16px * 16px' %>
          <span class="d-none d-sm-inline"><%= I18n.t('spree.admin.filter') %></span>
        </button>
      </div>
      <% unless defined?(simple) %>
        <div id="tableFilter" class="collapse">
          <div class="pb-0 mb-0">
            <div class="">
              <%= yield :table_filter %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
  <div class="table-responsive border border-top-0 rounded-bottom bg-white">
    <table class="table table-hover rounded" id="listing_orders">
      <thead class="text-muted">
        <tr data-hook="admin_orders_index_headers">
          <th><%= I18n.t(:number, scope: 'activerecord.attributes.spree/order') %></th>
          <th><%= I18n.t('spree.admin.date') %></th>
          <th><%= I18n.t('spree.admin.risk') %></th>
          <th><%= I18n.t('spree.admin.payment') %></th>
          <th><%= I18n.t('spree.admin.shipment') %></th>
          <th><%= I18n.t('spree.admin.customer') %></th>
          <th><%= I18n.t('spree.admin.total') %></th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr data-hook="admin_orders_index_rows" class="state-<%= order.state.downcase %> <%= "text-muted" if order.shipment_state == 'shipped' %>">
            <td data-controller="linkable-td" data-linkable-td-uri-value="<%= spree.edit_admin_order_path(order) %>" class="text-nowrap">
              <%= link_to order.number, edit_admin_order_path(order), class: 'text-reset text-decoration-none' %>
            </td>

            <td data-controller="linkable-td" data-linkable-td-uri-value="<%= spree.edit_admin_order_path(order) %>" class="text-nowrap">
              <%= order_time(@show_only_completed ? order.completed_at : order.created_at) %>
            </td>

            <td data-controller="linkable-td" data-linkable-td-uri-value="<%= spree.edit_admin_order_path(order) %>" class="text-nowrap">
              <span class="badge rounded-pill bg-<%= order.considered_risky ? 'considered_risky' : 'considered_safe' %>">
                <%= order.considered_risky ? I18n.t("spree.admin.risky") : I18n.t("spree.admin.safe") %>
              </span>
            </td>

            <td data-controller="linkable-td" data-linkable-td-uri-value="<%= spree.edit_admin_order_path(order) %>" class="text-nowrap">
              <% if order.payment_state %>
                <span class="badge rounded-pill bg-<%= order.payment_state %>">
                  <%= I18n.t("spree.admin.payment_states.#{order.payment_state}") %>
                </span>
              <% end %>
            </td>

            <% if Spree::Order.checkout_step_names.include?(:delivery) %>
              <td data-controller="linkable-td" data-linkable-td-uri-value="<%= spree.edit_admin_order_path(order) %>" class="text-nowrap">
                <% if order.shipment_state %>
                  <span class="badge rounded-pill bg-<%= order.shipment_state %>">
                    <%= I18n.t("spree.admin.shipment_states.#{order.shipment_state}") %>
                  </span>
                <% end %>
              </td>
            <% end %>
            <td class="text-nowrap dropdown">
              <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <%= order.email %>
                </button>
                <% if order.user %>
                  <ul class="dropdown-menu">
                    <li><%= link_to order.email, spree.edit_admin_user_path(order.user), class: 'dropdown-item' %></li>
                  </ul>
                <% else %>
                  <%= mail_to order.email %>
                <% end %>
            </td>
            <td data-controller="linkable-td" data-linkable-td-uri-value="<%= spree.edit_admin_order_path(order) %>">
              <%= order.display_total.to_html %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<% else %>
  <div class="text-center no-objects-found m-5">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Order)) %><% if can? :create, Spree::Order %>,
    <%= link_to(Spree.t(:add_one), new_admin_order_url) %>!<% end %>
  </div>
<% end %>

<%= render 'spree/admin/shared/index_table_options', collection: @orders, simple: true if @orders.any? %>
