<div class="card-body calculator-fields">
  <% promotion_action.promotion_action_line_items.each do |item| %>
    <% variant = item.variant %>

    <strong><%= item.quantity %> x <%= variant.name %></strong>
    <%= variant.options_text %>
  <% end %>

  <% if promotion_action.promotion_action_line_items.empty? %>
    <% line_items = promotion_action.promotion_action_line_items %>
    <% line_items.build %>

    <% line_items.each_with_index do |line_item, index| %>
      <div class="add-line-item">
        <% line_item_prefix = "#{param_prefix}[promotion_action_line_items_attributes][#{index}]" %>
        <div class="form-group form-floating">

          <%= select_tag "#{line_item_prefix}[variant_id]", line_item.variant_id, class: 'form-select',
                                          placeholder: I18n.t('spree.admin.order.search_products_by_name_or_sku'),
                                          data: {
                                                  controller: 'ts--search-variant',
                                                  ts__search_variant_debug_value: false,
                                                  ts__search_variant_uri_value: '/api/v2/platform/variants',
                                                  ts__search_variant_fields_value: ['name', 'sku'],
                                                  ts__search_variant_ransack_value: ['product_name_or_sku_eligible_only'],
                                                  ts__search_variant_custom_params_value: [ ['[image_transformation]size', '100x100'] ],
                                                  ts__search_variant_include_value: 'images,stock_items.stock_location'
                                                } %>
          <%= label_tag "#{line_item_prefix}_variant_id", Spree.t(:variant) %>
        </div>
        <div class="form-group mb-0">
          <%= label_tag "#{line_item_prefix}_quantity", Spree.t(:quantity) %>
          <%= number_field_tag "#{line_item_prefix}[quantity]", line_item.quantity, min: 1, class: 'form-control', autocomplete: :off %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
