<div class="row align-items-center">
  <div id="ImageGalleryLayout" class="col-12 col-md-6 m-auto">
    <div id="LayoutType">
      <div id="Default" class="<% unless @cms_section.layout_style == 'Default' %>d-none<% end %>">
        <%= inline_svg_tag "default-layout.svg", size: '150px * 150px' %>
      </div>
      <div id="Reversed" class="<% unless @cms_section.layout_style == 'Reversed' %>d-none<% end %>">
        <%= inline_svg_tag "reversed-layout.svg", size: '150px * 150px' %>
      </div>
    </div>

    <%= f.field_container :layout_style do %>
      <%= f.select(:layout_style, spree_humanize_dropdown_values('Spree::Cms::Sections::ImageGallery', { const: 'LAYOUT_OPTIONS' }), { include_blank: false }) %>
      <%= f.label :layout_style, I18n.t('spree.admin.cms.image_gallery.layout_style') %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-4 mb-3">
    <div id="image_a_details" class="card p-3">
      <div class="text-center">
        <h4 class="pb-2"><%= I18n.t('spree.admin.cms.image_gallery.image_a') %></h4>
        <% @cms_section.build_image_one unless @cms_section.image_one %>
        <%= render partial: 'image_upload_form', locals: { f: f, image: :image_one } %>
      </div>
      <small class="text-muted mb-4"><%= I18n.t('spree.admin.cms.image_gallery.square_image') %></small>

    <%= f.field_container :title_one do %>
      <%= f.text_field :title_one %>
      <%= f.label :title_one, I18n.t('spree.admin.cms.title') %>
    <% end %>

      <div class="col-12"><hr></div>
      <%= f.field_container :link_type_one do %>
        <%= f.select(:link_type_one, spree_humanize_dropdown_values('Spree::Cms::Sections::ImageGallery', { const: 'LINKED_RESOURCE_TYPE' }), { include_blank: false }) %>
        <%= f.label :link_type_one, I18n.t('spree.admin.navigation.link_to') %>
      <% end %>

      <%= render "spree/admin/shared/link_fields", resource: @cms_section, linked_type: @cms_section.link_type_one, save_to: :link_one, f: f %>
    </div>
  </div>

  <div class="col-12 col-md-4 mb-3">
    <div id="image_b_details" class="card p-3">
      <div class="text-center">
        <h4 class="pb-2"><%= I18n.t('spree.admin.cms.image_gallery.image_b') %></h4>
        <% @cms_section.build_image_two unless @cms_section.image_two %>
        <%= render partial: 'image_upload_form', locals: { f: f, image: :image_two } %>
      </div>
      <small class="text-muted mb-4"><%= I18n.t('spree.admin.cms.image_gallery.tall_image') %></small>

      <%= f.field_container :title_two do %>
        <%= f.text_field :title_two %>
        <%= f.label :title_two, I18n.t('spree.admin.cms.title') %>
      <% end %>

      <div class="col-12"><hr></div>
      <%= f.field_container :link_type_two do %>
        <%= f.select(:link_type_two, spree_humanize_dropdown_values('Spree::Cms::Sections::ImageGallery', { const: 'LINKED_RESOURCE_TYPE' }), { include_blank: false }) %>
        <%= f.label :link_type_two, I18n.t('spree.admin.navigation.link_to') %>
      <% end %>
      <%= render "spree/admin/shared/link_fields", resource: @cms_section, linked_type: @cms_section.link_type_two, save_to: :link_two, f: f %>
    </div>
  </div>

  <div class="col-12 col-md-4 mb-3">
    <div id="image_c_details" class="card p-3">
      <div class="text-center">
        <h4 class="pb-2"><%= I18n.t('spree.admin.cms.image_gallery.image_c') %></h4>
        <% @cms_section.build_image_three unless @cms_section.image_three %>
        <%= render partial: 'image_upload_form', locals: { f: f, image: :image_three } %>
      </div>
      <small class="text-muted mb-4"><%= I18n.t('spree.admin.cms.image_gallery.square_image') %></small>

      <%= f.field_container :title_three do %>
        <%= f.text_field :title_three %>
        <%= f.label :title_three, I18n.t('spree.admin.cms.title') %>
      <% end %>

      <div class="col-12"><hr></div>
        <%= f.field_container :link_type_three do %>
          <%= f.select(:link_type_three, spree_humanize_dropdown_values('Spree::Cms::Sections::ImageGallery', { const: 'LINKED_RESOURCE_TYPE' }), { include_blank: false }) %>
          <%= f.label :link_type_three, I18n.t('spree.admin.navigation.link_to') %>
        <% end %>

      <%= render "spree/admin/shared/link_fields", resource: @cms_section, linked_type: @cms_section.link_type_three, save_to: :link_three, f: f %>
    </div>
  </div>
</div>

<div class="row pb-0">
  <div class="col-12"> <hr></div>
  <div class="col-6">
    <%= f.field_container :fit do %>
      <%= f.select(:fit, @cms_section.boundaries, {include_blank: false}) %>
      <%= f.label :fit, I18n.t('spree.admin.cms.fit') %>
    <% end %>
  </div>

  <div class="col-6">
    <%= f.field_container :display_labels do %>
      <%= f.select(:display_labels, spree_humanize_dropdown_values('Spree::Cms::Sections::ImageGallery', { const: 'LABEL_OPTIONS' }), { include_blank: false }) %>
      <%= f.label :display_labels, I18n.t('spree.admin.cms.image_gallery.display_labels') %>
    <% end %>
  </div>
</div>
