<% content_for :page_title do %>
  <%= I18n.t('spree.dash.oauth_applications.list') %>
<% end %>

<% if @oauth_applications.any? %>
  <div class="table-responsive rounded border mt-4 bg-white">
    <table class="table">
      <thead class="text-muted">
        <tr data-hook="admin_roles_index_headers">
          <th><%= Spree.t(:name) %></th>
          <th><%= I18n.t('spree.dash.oauth_applications.client_id') %></th>
          <th><%= I18n.t('spree.dash.oauth_applications.scope') %></th>
          <th class="actions text-end"> <%= link_to_with_icon(I18n.t('spree.dash.oauth_applications.new'), new_object_url, class: "btn-secondary btn btn-sm", icon: 'plus-square.svg', id: 'admin_new_role_link') if can? :create, Spree::OauthApplication %></th>
        </tr>
      </thead>
      <tbody>
        <% @oauth_applications.each do |application| %>
          <tr id="<%= dom_id(application) %>" data-hook="admin_roles_index_rows" data-stream-exit-class="animate__fadeOut">
            <td><%= application.name %></td>
            <td>
              <div class="input-group" data-controller="password-toggle">
                <%= password_field_tag :password, application.uid, class: 'form-control unhide text-muted border-0 shadow-none bg-transparent', data: { password_toggle_target: 'unhide' }, readonly: true, autocomplete: false %>
                <div class="input-group-append">
                  <%= button_tag class: 'btn btn-link rounded', data: { action: 'click->password-toggle#password' } do %>
                    <%= inline_svg_tag "eye.svg", size: '18px * 18px' %>
                  <% end %>
                </div>
              </div>
            </td>
            <td><%= application.scopes %></td>
            <td class="actions">
              <span class="d-flex justify-content-end">
                <%= link_to_edit(application) if can? :edit, application %>
                <%= link_to_delete(application) if can? :destroy, application %>
              </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="alert alert-warning">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::OauthApplication)) %>,
    <%= link_to(Spree.t(:add_one), new_object_url) if can? :create, Spree::OauthApplication %>!
  </div>
<% end %>
