<div class="card">
  <div class="card-header">
    <h5 class="card-title">
      <%= Spree.t(:basic_information) %>
    </h5>
  </div>
  <div class="card-body">
    <%= f.field_container :name do %>
      <%= f.text_field :name, required: true %>
      <%= f.label :name, raw(Spree.t(:name) + required_span_tag) %>
    <% end %>

    <%= f.field_container :code do %>
      <%= f.text_field :code, required: true %>
      <%= f.label :code, raw(Spree.t(:code) + required_span_tag) %>
    <% end %>

    <%= f.field_container :url do %>
      <%= f.text_field :url, required: true %>
      <%= f.label :url, raw(Spree.t(:url) + required_span_tag) %>
    <% end %>
  </div>
</div>
