<div class="card">
  <div class="card-header">
    <h5 class="card-title">
      <%= Spree.t(:footer) %>
    </h5>
  </div>
  <div class="card-body">
    <%= f.field_container :description do %>
      <%= f.text_area :description %>
      <%= f.label :description, Spree.t(:description) %>
    <% end %>

    <%= f.field_container :address do %>
      <%= f.text_area :address %>
      <%= f.label :address, Spree.t(:address) %>
    <% end %>

    <%= f.field_container :contact_phone do %>
      <%= f.text_field :contact_phone %>
      <%= f.label :contact_phone, Spree.t(:contact_phone) %>
    <% end %>
  </div>
</div>
