<div class="card">
  <div class="card-header">
    <h5 class="card-title">
      <%= Spree.t(:internationalization) %>
    </h5>
  </div>
  <div class="card-body">
    <h6><%= I18n.t('spree.admin.stores.currency') %></h6>
    <%= f.field_container :default_currency do %>
      <%= f.select :default_currency, currency_options(@store.default_currency), {} %>
      <%= f.label :default_currency %>
    <% end %>

    <%= f.field_container :supported_currencies do %>
      <%= f.select :supported_currencies, currency_options(@store.supported_currencies&.split(',')), { prompt: false }, {multiple: true } %>
      <%= f.label :supported_currencies, Spree.t(:supported_currencies) %>
    <% end %>

    <hr>
    <h6><%= I18n.t('spree.admin.stores.checkout') %></h6>
    <%= f.field_container :checkout_zone_id do %>
      <%= f.select :checkout_zone_id, options_for_select(@zones), { include_blank: I18n.t('spree.admin.stores.not_limited_to_any_zone') } %>
      <%= f.label :checkout_zone_id, Spree.t(:shipping_zone) %>
    <% end %>

    <%= f.field_container :default_country_id do %>
      <%= f.select :default_country_id, options_for_select(@countries, @store.default_country_id), {} %>
      <%= f.label :default_country_id, I18n.t('spree.admin.default_country') %>
    <% end %>

    <hr>
    <h6><%= I18n.t('spree.admin.stores.language') %></h6>
    <%= f.field_container :default_locale do %>
      <%= f.select :default_locale, options_from_collection_for_select(all_locales_options, :last, :first, @store.default_locale || I18n.locale), {} %>
      <%= f.label :default_locale, I18n.t('spree.admin.store_form.default_language') %>
    <% end %>

    <%= f.field_container :supported_locales do %>
      <%= f.select :supported_locales, options_from_collection_for_select(all_locales_options, :last, :first, @store.supported_locales&.split(',')), {}, {multiple: true} %>
      <%= f.label :supported_locales, I18n.t('spree.admin.store_form.supported_languages') %>
    <% end %>
  </div>
</div>
