<div class="card">
  <div class="card-header">
    <h5 class="card-title">
      <%= I18n.t('spree.dash.store_form.look_and_feel') %>
    </h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-md-4">
        <% @store.build_logo unless @store.logo %>
        <%= f.fields_for :logo do |ff| %>
          <% if @store.logo.attachment&.attached? && @store.logo.attachment&.variable? %>
            <%= image_tag main_app.cdn_image_url(@store.logo.attachment.variant(resize_to_limit: [244, 104])) %>
          <% end %>
          <%= f.field_container :logo, class: ['form-group'] do %>
            <%= f.label :logo, Spree.t(:logo) %>
            <%= ff.file_field :attachment, class: 'form-control' %>
          <% end %>
        <% end %>
      </div>

      <div class="col-12 col-md-4">
        <% @store.build_mailer_logo unless @store.mailer_logo %>
        <%= f.fields_for :mailer_logo do |ff| %>
          <% if @store.mailer_logo.attachment&.attached? && @store.mailer_logo.attachment&.variable? %>
            <%= image_tag main_app.cdn_image_url(@store.mailer_logo.attachment.variant(resize_to_limit: [244, 104])) %>
          <% end %>
          <%= f.field_container :mailer_logo, class: ['form-group'] do %>
            <%= f.label :mailer_logo, Spree.t(:mailer_logo) %><br>
            <%= ff.file_field :attachment, accept: Spree::StoreMailerLogo::VALID_CONTENT_TYPES.join(','), class: 'form-control' %>
          <% end %>
        <% end %>
      </div>

      <div class="col-12 col-md-4">
        <% @store.build_favicon_image unless @store.favicon_image %>
        <%= f.fields_for :favicon_image do |ff| %>
          <% if @store.favicon_image.attachment&.attached? && @store.favicon_image.attachment&.variable? %>
            <%= image_tag main_app.cdn_image_url(@store.favicon_image.attachment.variant(resize_to_limit: [104, 104])) %>
          <% end %>
          <%= f.field_container :logo, class: ['form-group'] do %>
            <%= f.label :favicon_image, "#{Spree.t(:favicon)} (#{Spree.t(:favicon_upload_info)})" %><br>
            <%= ff.file_field :attachment, accept: Spree::StoreFaviconImage::VALID_CONTENT_TYPES.join(','), class: 'form-control' %>
            <%= f.error_message_on :favicon_image %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
