<div class="card">
  <div class="card-header">
    <h5 class="card-title">
      <%= Spree.t(:social) %>
    </h5>
  </div>
  <div class="card-body">
    <%= f.field_container :facebook do %>
      <%= f.text_field :facebook %>
      <%= f.label :facebook, Spree.t(:facebook_username) %>
    <% end %>

    <%= f.field_container :twitter do %>
      <%= f.text_field :twitter %>
      <%= f.label :twitter, Spree.t(:twitter_username) %>
    <% end %>

    <%= f.field_container :instagram do %>
      <%= f.text_field :instagram %>
      <%= f.label :instagram, Spree.t(:instagram_username) %>
    <% end %>
  </div>
</div>
