<div class="border-bottom overflow-hidden">
  <div class="btn-group show-active-bar overflow-hidden rounded-0 rounded-top" role="group" aria-label="Default button group">
    <%= link_to I18n.t('admin.product.all'), spree.admin_products_path, class: "btn btn-link rounded-0 rounded-top text-decoration-none p-3 text-truncate #{'active' if params[:q][:status_eq].blank?}" %>
    <%= link_to I18n.t('admin.product.active'), params.merge({q: {status_eq: :active}}).permit!, class: "btn btn-link rounded-0 rounded-top text-decoration-none p-3 text-truncate #{'active' if params[:q][:status_eq] == 'active'}" %>
    <%= link_to I18n.t('admin.product.draft'), params.merge({q: {status_eq: :draft}}).permit!, class: "btn btn-link rounded-0 rounded-top text-decoration-none p-3 text-truncate #{'active' if params[:q][:status_eq] == 'draft'}" %>
    <%= link_to I18n.t('admin.product.archived'), params.merge({q: {status_eq: :archived}}).permit!, class: "btn btn-link rounded-0 rounded-top text-decoration-none p-3 text-truncate #{'active' if params[:q][:status_eq] == 'archived'}" %>
  </div>
</div>

<div class="py-2" role="toolbar" aria-label="Toolbar with button groups">
  <div class="row">
    <div class="col-12 col-sm">
      <%= search_form_for [:admin, @search] do |f| %>
        <%= f.search_field :search_by_name, placeholder: "Search by Product Name or SKU", class: "form-control js-quick-search-target js-filterable my-1" %>
      <% end %>
    </div>

    <div class="col-12 col-sm-auto">
      <button type="button" class="btn btn-outline-secondary dropdown-toggle my-1" data-bs-toggle="dropdown" aria-expanded="false">Kind</button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Physical</a></li>
        <li><a class="dropdown-item" href="#">Digital</a></li>
      </ul>
      <button type="button" class="btn btn-outline-secondary my-1">More Filters</button>
      <button type="button" class="btn btn-outline-secondary my-1">Sort</button>
    </div>
  </div>
</div>
