<div class="border-bottom overflow-hidden">
  <div class="btn-group show-active-bar overflow-hidden rounded-0 rounded-top" role="group" aria-label="Default button group">
    <%= link_to Spree.t('admin.product.all'), spree.admin_products_path, class: "btn btn-link rounded-0 rounded-top text-decoration-none p-3 text-truncate #{'active' if params[:q][:status_eq].blank?}" %>
    <%= link_to Spree.t('admin.product.active'), params.merge({q: {status_eq: :active}}).permit!, class: "btn btn-link rounded-0 rounded-top text-decoration-none p-3 text-truncate #{'active' if params[:q][:status_eq] == 'active'}" %>
    <%= link_to Spree.t('admin.product.draft'), params.merge({q: {status_eq: :draft}}).permit!, class: "btn btn-link rounded-0 rounded-top text-decoration-none p-3 text-truncate #{'active' if params[:q][:status_eq] == 'draft'}" %>
    <%= link_to Spree.t('admin.product.archived'), params.merge({q: {status_eq: :archived}}).permit!, class: "btn btn-link rounded-0 rounded-top text-decoration-none p-3 text-truncate #{'active' if params[:q][:status_eq] == 'archived'}" %>
  </div>
</div>

<div class="row p-2" role="toolbar" aria-label="Toolbar with button groups">
  <div class="col-12 col-sm mb-2">
    <%= search_form_for [:admin, @search] do |f| %>
      <%= f.search_field :search_by_name, size: 15, class: "form-control js-quick-search-target js-filterable" %>
    <% end %>
  </div>

  <div class="col-12 col-sm-auto">
    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Kind</button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Physical</a></li>
      <li><a class="dropdown-item" href="#">Digital</a></li>
    </ul>

    <button type="button" class="btn btn-outline-secondary">More Filters</button>
    <button type="button" class="btn btn-outline-secondary">Sort</button>
  </div>
</div>
