<% content_for :page_title do %>
  <%= breadcrumb_builder(link_one_uri: spree.admin_products_path, link_one_text:I18n.t('spree.admin.products.all_products'), current_page_name: @product.name) %>
<% end %>

<% content_for :page_actions do %>
  <% if @product.available? %>
    <%= external_page_preview_link(@product) %>
  <% end %>
<% end %>

<div data-hook="admin_product_form_fields">
  <div class="row">
    <div class="col-12 col-xl-8" data-hook="admin_product_form_left">
      <%= render "spree/admin/products/forms/details" %>
      <%= render "spree/admin/products/forms/properties" if can?(:admin, Spree::ProductProperty) && !@product.deleted? %>
      <%= render "spree/admin/products/forms/images" %>
      <%= render "spree/admin/products/forms/digitals" unless @product.has_variants? %>
      <%= render "spree/admin/products/forms/variants" %>
      <%= render "spree/admin/products/forms/stock" unless @product.has_variants? %>
    </div>

    <div class="col-12 col-xl-4" data-hook="admin_product_form_right">
      <%= render "spree/admin/products/forms/overview" %>
      <%= render "spree/admin/products/forms/status" %>
      <%= render "spree/admin/products/forms/pricing" %>
      <%= render "spree/admin/products/forms/tax_and_shipping" %>
      <%= render "spree/admin/products/forms/specifications" %>
      <%= render "spree/admin/products/forms/organization" %>
      <%= render "spree/admin/products/forms/seo" %>
    </div>
  </div>

  <div data-hook="admin_product_form_meta"></div>
  <div data-hook="admin_product_form_additional_fields"></div>
</div>
