<% content_for :page_title do %>
  <%= plural_resource_name(Spree::Product) %>
<% end %>

<% content_for :page_actions do %>
  <%= link_to_with_icon Spree.t(:new_product), new_object_url, { class: "btn-primary btn", icon: 'plus-square.svg', id: 'admin_new_product', data: {turbo_frame: :modal} } %>
<% end if can?(:create, Spree::Product) %>

<% content_for :index_table_filter_tabs do %>
  <%= link_to I18n.t('admin.product.all'), spree.admin_products_path,
      class: "btn btn-link rounded-0 rounded-top text-decoration-none p-3 text-truncate #{'active' if params[:q][:status_eq].blank?}" %>
  <%= link_to I18n.t('admin.product.active'), params.merge({q: {status_eq: :active}}).permit!,
      class: "btn btn-link rounded-0 rounded-top text-decoration-none p-3 text-truncate #{'active' if params[:q][:status_eq] == 'active'}" %>
  <%= link_to I18n.t('admin.product.draft'), params.merge({q: {status_eq: :draft}}).permit!,
      class: "btn btn-link rounded-0 rounded-top text-decoration-none p-3 text-truncate #{'active' if params[:q][:status_eq] == 'draft'}" %>
  <%= link_to I18n.t('admin.product.archived'), params.merge({q: {status_eq: :archived}}).permit!,
      class: "btn btn-link rounded-0 rounded-top text-decoration-none p-3 text-truncate #{'active' if params[:q][:status_eq] == 'archived'}" %>
<% end %>

<% content_for :index_table_filter_buttons do %>
  <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Sort</button>
  <ul class="dropdown-menu">
    <li><%= sort_link @search, :name, Spree.t(:name), {}, {title: 'admin_products_listing_price_title', class: 'dropdown-item'} %>
    <li><%= sort_link @search, :master_default_price_amount, Spree.t(:price), {}, {title: 'admin_products_listing_price_title', class: 'dropdown-item'} %>
    <li><%= sort_link @search, :status, Spree.t(:status), {default_order: :asc}, {title: 'Sort by Status', class: 'dropdown-item'} %></li>
  </ul>
  <%= link_to I18n.t('spree.admin.more_filters'), spree.filter_admin_products_path(request.query_parameters), class: "btn btn-outline-secondary", data: {turbo_frame: :offcanvas} %>
<% end %>

  <% content_for :index_table do %>
    <% if @collection.any? %>
    <table class="table table-hover" id="listing_products" data-controller="input--checkbox-state">
      <thead>
        <tr data-hook="admin_products_index_headers">
          <th scope="col" style="width: 20px; height: 48px">
            <div class="form-check d-flex justify-content-center m-0 ms-2">
               <%= check_box_tag "select all", nil, nil, { class: "form-check-input", data: { input__checkbox_state_target: "checkboxAll"} } %>
            </div>
          </th>
          <th scope="col" colspan="6" style="display: none;" data-input--checkbox-state-target="actionPanel">
           <div class="dropdown">
             <a class="btn btn-sm btn-outline-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Bulk Actions
             </a>
             <div class="dropdown-menu">
               <%= form_with url: spree.bulk_update_status_admin_products_path, method: :patch, id: :bulk_actions_form, data: {turbo_frame: :index_table} do |form| %>
                 <%= form.button "Active", value: "active",class: "dropdown-item" %>
                 <%= form.button "Draft", value: "draft",class: "dropdown-item" %>
                 <%= form.button "Archive", value: "archive",class: "dropdown-item" %>
               <% end %>
               <hr>
             </div>
           </div>
          </th>
          <th scope="col" colspan="2" data-input--checkbox-state-target="initialPanel">
            <%= Spree.t(:name) %>
          </th>
          <% if defined?(Spree::Vendor) && can?(:manage, Spree::Vendor) %>
            <th scope="col" class="text-center"><%= Spree.t(:vendor) %></th>
          <% end %>
          <th scope="col" class="text-center" data-input--checkbox-state-target="initialPanel">
            <%= I18n.t('spree.admin.kind') %>
          </th>
          <th scope="col" class="text-center" data-input--checkbox-state-target="initialPanel">
            <%= Spree.t(:status) %>
          </th>
          <th scope="col" class="text-center" data-input--checkbox-state-target="initialPanel">
            <%= Spree.t(:price) %>
          </th>
          <th scope="col" class="actions text-end" data-hook="admin_products_index_header_actions" data-input--checkbox-state-target="initialPanel">
          </th>
        </tr>
      </thead>
      <tbody>
        <% @collection.each do |product| %>
          <% available_status = available_status(product) %>
            <tr <%== "style='color: red;'" if product.deleted? %> id="<%= dom_id(product) %>" data-stream-exit-class="animate__fadeOut">
              <td>
                <div class="form-check d-flex justify-content-center m-0 ms-2">
                  <%= check_box_tag "product_ids[]", product.id, nil, {multiple: true, form: :bulk_actions_form,class: "form-check-input", multiple: true, form: :bulk_actions_form, data: { input__checkbox_state_target: "checkbox"} } %>
                </div>
              </td>
              <td style="width:50px;" data-controller="linkable-td" data-linkable-td-uri-value="<%= spree.edit_admin_product_path(product) %>" class="mini-img">
                <%= small_image(product) %>
              </td>

              <td data-controller="linkable-td" data-linkable-td-uri-value="<%= spree.edit_admin_product_path(product) %>" class="text-nowrap">
                <%= product.name %>
                <br>
                <small>SKU: <span class="text-secondary"><%= product.sku rescue '' %></span></small>
              </td>

              <% if defined?(Spree::Vendor) && can?(:manage, Spree::Vendor) %>
                <td class="text-center" data-controller="linkable-td" data-linkable-td-uri-value="<%= spree.edit_admin_product_path(product) %>" class="text-nowrap">
                  <%= link_to product.vendor.name, spree.admin_vendor_path(product.vendor_id) if product.vendor.present? %>
                </td>
              <% end %>
              <td class="text-center" data-controller="linkable-td" data-linkable-td-uri-value="<%= spree.edit_admin_product_path(product) %>" class="text-nowrap">
                <span class="badge rounded-pill text-bg-light">
                  <% if product.digital? %>
                    <%= I18n.t('spree.admin.product_kinds.digital') %>
                  <% else %>
                    <%= I18n.t('spree.admin.product_kinds.physical') %>
                  <% end %>
                </span>
              </td>

              <td class="text-center" data-controller="linkable-td" data-linkable-td-uri-value="<%= spree.edit_admin_product_path(product) %>" class="text-nowrap">
                <%= active_badge(available_status == I18n.t('spree.admin.products.active'), label: available_status) %>
              </td>

              <td class="text-center" data-controller="linkable-td" data-linkable-td-uri-value="<%= spree.edit_admin_product_path(product) %>" class="text-nowrap">
                <%= display_price(product) %>
              </td>

              <td class="actions " data-hook="admin_products_index_row_actions">
                <span class="d-flex justify-content-end">
                  <%= link_to_clone(product) if can?(:clone, product) %>
                  <%= link_to_delete(product) if can?(:delete, product) && !product.deleted? %>
                </span>
              </td>
            </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
      <div class="text-center no-objects-found m-5">
        <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::Product)) %>
      </div>
    <% end %>
  <% end %>
  <%= render partial: "spree/admin/shared/index_table", locals: {search_field_value: :search_by_name, search_field_placeholder: "Search by Product Name or SKU" } %>
