<% content_for :modal_header do %>
  <h5 class="modal-title"><%= I18n.t('spree.admin.products.new_product_details') %></h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
<% end %>

<% content_for :modal_body do %>
  <div class="container">
    <%= form_with model: [:admin, @product], method: :post, class: 'row', data: { hook: 'new_product_form', turbo_frame: :_top, controller: "input--required", input__required_save_button_id_value: "globalFormSubmitButton"}, id: "mainForm" do |f| %>
      <div class="col-12 col-md-8">
        <%= f.field_container :name, data: { hook: "admin_product_form_name" } do %>
          <%= f.text_field :name, class: 'form-control title', placeholder: raw(Spree.t(:name) + required_span_tag), required: true %>
          <%= f.label :name, raw(I18n.t('spree.admin.name') + required_span_tag) %>
        <% end %>
      </div>

      <div class="col-12 col-md-4">
        <%= f.field_container :price, data: { hook: "new_product_price" } do %>
          <%= f.text_field :price, value: number_to_currency(@product.price, unit: ''), class: 'form-control', required: :required, placeholder: raw(I18n.t('spree.admin.products.new_product_master_price', currency_symbol: currency_symbol(current_currency) ,currency_iso: current_currency ) + required_span_tag) %>
          <%= f.label :price, raw(I18n.t('spree.admin.products.new_product_master_price', currency_symbol: currency_symbol(current_currency) ,currency_iso: current_currency ) + required_span_tag) %>
        <% end %>
      </div>

      <div class="col-12 col-md-6 d-none">
        <%= f.field_container :shipping_category, data: { hook: "new_product_shipping_category" } do %>
          <%= f.collection_select(:shipping_category_id, @shipping_categories, :id, :name, { selected: @product.shipping_category_id }, { }) %>
          <%= f.label :shipping_category_id, raw(Spree.t(:shipping_categories) + required_span_tag) %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<% content_for :modal_footer do %>
  <%= remote_form_submit_button(@object) %>
<% end %>

<%= render partial: 'spree/admin/shared/modal', locals: { modal_dialog_settings: 'modal-dialog-scrollable modal-dialog modal-dialog-centered modal-lg' } %>
