<% if @order.email.present? %>
  <% form_controller = 'form-state' %>
<% else %>
  <% form_controller = 'input--required' %>
<% end %>

<%= form_with model: [:admin, @order], data: {controller: form_controller} do |form| %>
  <div class="input-group">
    <%= form.field_container :email do %>
      <%= form.text_field :email, required: true %>
      <%= form.label :email, raw(I18n.t('spree.admin.orders.email')) + required_span_tag %>
    <% end %>
    <%= button_tag(I18n.t('spree.admin.actions.save'), {data: { input__required_target: "saveButton", form_state_target: "saveButton"}, class: 'btn-secondary btn'}) %>
  </div>
<% end %>

<% if @order.bill_address.present? %>
    <h6>
      <%= I18n.t('spree.admin.billing_address') %>
    </h6>
  <%= render partial: 'spree/admin/shared/address/card', locals: {address: @order.bill_address} %>
<% else %>
  <div class="bs-callout bs-callout-info my-3">
    <h6>
      <%= I18n.t('spree.admin.billing_address') %>
    </h6>
    <small class="text-muted">
     <%= I18n.t('spree.admin.no_billing_address_has_been_added_to_this_order') %> <%= link_to 'Add a new Billing address.', spree.new_bill_address_admin_order_path(@order), data: { turbo_frame: :modal } %>
    </small>
  </div>
<% end %>

<% if @order.ship_address.present? %>
<hr>
  <h6>
    <%= I18n.t('spree.admin.shipping_address') %>
  </h6>
  <%= render partial: 'spree/admin/shared/address/card', locals: {address: @order.ship_address} %>
<% else %>
  <div class="bs-callout bs-callout-info my-3">
    <h6>
      <%= I18n.t('spree.admin.shipping_address') %>
    </h6>
    <small class="text-muted">
     <%= I18n.t('spree.admin.no_shipping_address_has_been_added_to_this_order') %> <%= link_to 'Add a new Shipping address.', spree.new_ship_address_admin_order_path(@order), data: { turbo_frame: :modal } %>
    </small>
  </div>
<% end %>
