<sa-card>
  <%= turbo_frame_tag :customer do %>
    <sa-header>
      <h5><%= I18n.t('spree.admin.order.customer') %></h5>
      <nav-pills>
        <%= link_to(I18n.t('spree.admin.orders.new'), spree.new_customer_admin_order_path(@order), class: "#{'active' if @customer_status == 'new'}") unless @order.user.present? %>
        <%= link_to(I18n.t('spree.admin.orders.existing'), spree.existing_customer_admin_order_path(@order), class: "#{'active' if @customer_status == 'existing'}") %>
      </nav-pills>
    </sa-header>
    <sa-body>
      <% if @customer_status == 'new' %>
        <%= render partial: 'spree/admin/orders/customer/new' %>
      <% else %>
        <%= render partial: 'spree/admin/orders/customer/existing' %>
      <% end %>
    </sa-body>
  <% end %>
</sa-card>
