<div class="d-flex my-2">
  <div class="address vcard flex-fill">
    <div class="full-name">
      <%= address.full_name %>
    </div>
    <% unless address.company.blank? %>
      <div class="org">
        <%= address.company %>
      </div>
    <% end %>
    <div class="adr">
      <div class="street-address">
        <div class="street-address-line">
          <%= address.address1 %>
        </div>
        <% unless address.address2.blank? %>
          <div class="street-address-line">
            <%= address.address2 %>
          </div>
        <% end %>
      </div>
      <div class="city">
        <span class="locality"><%= address.city %></span>
      </div>
      <div class="local">
        <% unless address.state.blank? %>
          <span class="region"><%= address.state_text %></span>
        <% end %>
        <% unless address.zipcode.blank? %>
          <span class="postal-code"><%= address.zipcode %></span>
        <% end %>
        <div class="country-name"><%= address.country.try(:name) %></div>
      </div>
    </div>
    <% unless address.phone.blank? %>
      <div class="tel">
        <%= address.phone %>
      </div>
    <% end %>
    <% unless address.alternative_phone.blank? %>
      <div class="alternative-phone tel">
        <span class="type"><%= Spree.t(:alternative_phone) %></span>
        <%= address.alternative_phone %>
      </div>
    <% end %>
  </div>
  <div>
    <% unless address.label.blank? %>
      <h6 class="mb-0"><span class="badge rgb-hsl-secondary"><%= address.label %></span></h6>
    <% end %>
  </div>
</div>
