<% s_or_b = type.chars.first %>
<% dynamic_fields = ['state', 'zipcode', 'country', 'phone', 'firstname', 'lastname', 'company'] %>
<% naming_fields = ['firstname', 'lastname', 'company'] %>
<% requireds = ['firstname', 'lastname', 'address1', 'city'] %>
<% country_frame_type = "#{type}_country_select" %>

<div id="<%= type %>" data-hook="address_fields">
  <h6 class="text-muted">International Location</h6>
  <!-- COUNTRY -->
  <%= field_container (s_or_b + '_country'), nil do %>
    <%= f.collection_select :country_id, all_countries, :id, :name, {  }, { class: 'form-select', data: { controller: 'ts--select', action: 'change->form-validation#validate' } } %>
    <%= f.label :country, raw(Spree.t(:country) + required_span_tag), class: 'form-label' %>
  <% end %>
  <!-- COUNTRY -->

  <hr class="my-4">
  <h6 class="text-muted">Name</h6>

  <% Spree::Address::ADDRESS_FIELDS.each do |field| %>
    <% next unless naming_fields.include?(field) %>

    <%= field_container (s_or_b + '_' + field), nil do %>
      <%= f.text_field field, class: 'form-control', required: requireds.include?(field), placeholder: Spree.t(field) %>
      <% if requireds.include?(field) %>
        <%= f.label field, raw(Spree.t(field) + required_span_tag), class: 'form-label' %>
      <% else %>
        <%= f.label field, Spree.t(field), class: 'form-label' %>
      <% end %>
    <% end %>
  <% end %>

  <hr class="my-4">
  <h6 class="text-muted">Address Location</h6>
    <% Spree::Address::ADDRESS_FIELDS.each do |field| %>
      <% next if dynamic_fields.include?(field) %>

      <% if field == 'address1' %>
        <% label_name = I18n.t('spree.admin.address.street') %>
      <% else %>
        <% label_name = Spree.t(field) %>
      <% end %>

      <%= field_container (s_or_b + '_' + field), nil do %>
        <%= f.text_field field, class: 'form-control', required: requireds.include?(field), placeholder: Spree.t(field) %>
        <% if requireds.include?(field) %>
          <%= f.label field, raw(label_name + required_span_tag), class: 'form-label' %>
        <% else %>
          <%= f.label field, label_name, class: 'form-label' %>
        <% end %>
      <% end %>
    <% end %>

  <% Spree::Address::ADDRESS_FIELDS.each do |field| %>
    <% if field == "state" %>

    <% state_lable = case f.object.country.iso3
       when 'ARE'
           I18n.t('spree.admin.address.emirate')
       when 'AUS'
        I18n.t('spree.admin.address.state_territory')
       else
          Spree.t(field)
       end %>

      <!-- STATE -->
      <%= field_container (s_or_b + '_' + field), :state, data: { form_validation_target: "hideOnSubmit" } do %>
        <% if f.object.country.try(:states) %>
          <% if !f.object.country.states.present? && f.object.country.states_required? %>
            <%= f.text_field :state_name, style: "display: #{ f.object.country.states.empty? && f.object.country.states_required? ? 'block' : 'none' };",
                                          required: true,
                                          class: 'form-control',
                                          data: { form_validation_target: "disableOnSubmit emptyOnSubmit removeRequiredOnSubmit" } %>
          <% end %>

          <% if f.object.country.states.present? %>
            <%= f.collection_select :state_id, f.object.country.states.sort, :id, :name, { include_blank: true }, {class: 'form-select', required: f.object.country.states_required?, data: { controller: f.object.country.states.empty? ? '' : 'ts--select',
                                                                                                                                                                                              form_validation_target: "disableOnSubmit removeRequiredOnSubmit" }} %>
          <% end %>

          <% if f.object.country.states_required? || f.object.country.states.present? %>
            <% if f.object.country.states_required? %>
              <%= f.label :state_id, raw(state_lable + required_span_tag), class: 'form-label' %>
            <% else %>
              <%= f.label :state_id, state_lable, class: 'form-label' %>
            <% end %>
          <% end %>

        <% else %>
          <div>
            <em><%= Spree.t(:no_country) %></em>
          </div>
        <% end %>
      <% end %>
      <!-- STATE -->
    <% elsif field == "zipcode" %>

    <% zip_lable = case f.object.country.iso3
      when 'GBR'
        I18n.t('spree.admin.address.post_code')
      when 'CAN'
        I18n.t('spree.admin.address.post_code')
      when 'AUS'
        I18n.t('spree.admin.address.post_code')
      else
        Spree.t(field)
      end %>

      <!-- ZIPCODE -->
      <%= field_container (s_or_b + '_' + field), nil, data: { form_validation_target: "hideOnSubmit" } do %>
        <%= f.text_field field, class: 'form-control', placeholder: Spree.t(field),  data: { form_validation_target: "disableOnSubmit emptyOnSubmit removeRequiredOnSubmit" } %>

        <% if f.object.country.zipcode_required? %>
          <%= f.label field, (raw(zip_lable) + required_span_tag), class: 'form-label' %>
        <% else %>
          <%= f.label field, zip_lable, class: 'form-label' %>
        <% end %>
      <% end %>
      <!-- ZIPCODE -->
    <% end %>
  <% end %>

  <% Spree::Address::ADDRESS_FIELDS.each do |field| %>
    <% if field == 'phone' %>
    <hr class="mt-4">
    <h6 class="text-muted">Contact Details</h6>
      <%= field_container (s_or_b + '_' + field), nil do %>
        <%= f.text_field field, class: 'form-control', required: requireds.include?(field), placeholder: Spree.t(field) %>
        <% if requireds.include?(field) %>
          <%= f.label field, raw(Spree.t(field) + required_span_tag), class: 'form-label' %>
        <% else %>
          <%= f.label field, Spree.t(field), class: 'form-label' %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
