<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<%= csrf_meta_tags %>

<title>
  <% if content_for? :title %>
    <%= yield :title %>
  <% else %>
    <%= "#{I18n.t('spree.admin.spree_administration')}: " %>
    <%= Spree.t(controller.controller_name, default: controller.controller_name.titleize) %>
  <% end %>
</title>

<script>
  window.addEventListener('turbo:load', function() {
    /////////////////////
    // API Information //
    /////////////////////

    // Localization
    SpreeAdmin.localization = <%== {
      current_locale: I18n.locale,
      default_locale: I18n.default_locale
    }.to_json %>

    // Path
    SpreeAdmin.paths = <%== {
      platform_api_mounted_at: Rails.application.routes.url_helpers.spree_path(trailing_slash: true)
    }.to_json %>

    // Authorization
    SpreeAdmin.authorization = <%== {
      oauth_token: admin_oauth_token if defined?(admin_oauth_token)
    }.to_json %>
  })
</script>

<%= stylesheet_link_tag 'spree/backend/all', media: :all, data: { turbo_track: "reload" } %>
<%= javascript_include_tag "spree_admin", data: { turbo_track: "reload" }, defer: true %>

<meta name="turbo-root" content="<%= Spree::Backend::Config[:admin_path] %>">

<%= yield :head %>
