<% modal_dialog_settings ||= 'modal-dialog-centered modal-dialog-scrollable modal-fullscreen' %>

<%= turbo_frame_tag :modal, target: :_top do %>
  <div data-controller="modal"
       class="modal fade"
       tabindex="-1"
       aria-hidden="true">
    <div class="modal-dialog <%= modal_dialog_settings %>">
      <div class="modal-content">
        <% if content_for?(:modal_header) %>
          <div class="modal-header">
            <%= yield :modal_header %>
          </div>
        <% end %>

        <% if content_for?(:modal_body) %>
          <div class="modal-body">
            <%= yield :modal_body %>
          </div>
        <% end %>

        <% if content_for?(:modal_footer) %>
          <div class="modal-footer">
              <%= yield :modal_footer %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

