<% if content_for?(:table_filter) %>
  <div class="filter-wrap mb-3">
    <div class="index-filter-button d-flex">
      <%= form_tag request.fullpath, id: "quick-search", class: 'flex-grow-1 me-3' do %>
        <%= text_field_tag :quick_search, nil, class: "form-control js-quick-search", placeholder: Spree.t(:search_by), autocomplete: false %>
      <% end %>

      <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#tableFilter" aria-expanded="false" aria-controls="tableFilter">
        <%= inline_svg_tag "filter.svg", size: '16px * 16px' %>
        <span class="d-none d-sm-inline"><%= I18n.t('spree.dash.filters') %></span>
      </button>
    </div>
    <% unless defined?(simple) %>
      <div id="tableFilter" class="collapse pt-3">
        <div class="card">
          <div class="card-body">
            <%= yield :table_filter %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
