<% content_for :modal_header do %>
  <h5 class="modal-title"><%= I18n.t('spree.admin.countries.add_new_state') %></h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
<% end %>

<% content_for :modal_body do %>
  <div class="container">
    <%= form_with model: [:admin, @country, @state], id: :modal_form, data: { turbo_frame: :country_states, action: "turbo:submit-end->modal#submitEnd" } do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>
<% end %>

<% content_for :modal_footer do %>
  <button type="button" class="btn btn-light" data-bs-dismiss="modal"><%= I18n.t('spree.admin.actions.cancel') %></button>
  <%= button_tag(I18n.t('spree.admin.actions.save'), class: "btn btn-primary", form: :modal_form) %>
<% end %>

<%= render partial: 'spree/admin/shared/modal', locals: { modal_dialog_settings: 'modal-dialog-scrollable modal-dialog modal-dialog-centered modal-lg' } %>
